<article class="content items-list-page">
    <div class="title-search-block">
        <div class="title-block">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title"> PRODUCT DASHBOARD
                        <a href="#" class="btn bnt-create"> Add New </a>
                    </h3>
                    <p class="title-description"> List of sample items - e.g. books, movies, events, etc... </p>
                </div>
            </div>
        </div>
        <div class="items-search">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control boxed rounded-s" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="card items">
        <ul class="item-list striped">
            <li class="item item-list-header">
                <div class="item-row">
                    <div class="item-col fixed item-col-check">
                        <label class="item-check" id="select-all-items">
                            <input type="checkbox" class="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="item-col item-col-header fixed item-col-img md">
                        <div>
                            <span>Image</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-title">
                        <div>
                            <span>Name Product</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-conten">
                        <div>
                            <span>Price Product</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-conten">
                        <div>
                            <span>Quatity Product</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-conten">
                        <div>
                            <span>Catalog Product</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-conten">
                        <div>
                            <span>Size Product</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-conten">
                        <div>
                            <span>Color Product</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header fixed item-col-actions-dropdown"> </div>
                </div>
            </li>
            <li class="item" *ngFor="let product of productposts">
                <div class="item-row">
                    <div class="item-col fixed item-col-check">
                        <label class="item-check" id="select-all-items">
                            <input type="checkbox" class="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="item-col fixed item-col-img md">
                        <a href="item-editor.html">
                            <div class="item-img rounded" style="background-image: url(https://drive.google.com/uc?id={{product.leftimage}})"></div>
                        </a>
                    </div>
                    <div class="item-col fixed pull-left item-col-title">
                        <div class="item-heading">Name Product</div>
                        <div>
                            <a href="item-editor.html" class="">
                                <div>{{product.nameproduct}}</div>
                            </a>
                        </div>
                    </div>
                    <div class="item-col item-col-conten">
                        <div class="item-heading">Price Product</div>
                        <div>{{product.price}} </div>
                    </div>
                    <div class="item-col item-col-conten">
                        <div class="item-heading">Quatity</div>
                        <div> 250 </div>
                    </div>
                    <div class="item-col item-col-conten">
                        <div class="item-heading">Category</div>
                            <div>{{product.catalog}}</div>
                    </div>
                    <div class="item-col item-col-conten">
                        <div class="item-heading">Size</div>
                          <div>{{product.size}}</div>
                    </div>
                    <div class="item-col item-col-conten">
                        <div class="item-heading">Color</div>
                        <div>{{product.color}}</div>
                    </div>
                    <div class="item-col fixed item-col-actions-dropdown">
                        <div class="item-actions-dropdown">
                            <a class="item-actions-toggle-btn">
                                <span class="inactive">
                                    <i class="fa fa-cog"></i>
                                </span>
                                <span class="active">
                                    <i class="fa fa-chevron-circle-right"></i>
                                </span>
                            </a>
                            <div class="item-actions-block">
                                <ul class="item-actions-list">
                                    <li>
                                        <a class="remove" data-toggle="modal" data-target="#deleteproduct">
                                            <i class="fa fa-trash-o "></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="edit"  [routerLink]="['/edit-product/', product._id]">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <nav class="text-right">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href=""> Prev </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href=""> 1 </a>
            </li>
            <li class="page-item">
                <a class="page-link" href=""> 2 </a>
            </li>
            <li class="page-item">
                <a class="page-link" href=""> 3 </a>
            </li>
            <li class="page-item">
                <a class="page-link" href=""> 4 </a>
            </li>
            <li class="page-item">
                <a class="page-link" href=""> 5 </a>
            </li>
            <li class="page-item">
                <a class="page-link" href=""> Next </a>
            </li>
        </ul>
    </nav>
</article>

<div class="modal fade" id="deleteproduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <h3 style="color:red;text-transform: lowercase;">Are you sure you want to delete the product {{product?.nameproduct}}?</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="onDeleteProductsubmit(product?._id)" data-dismiss="modal">Delete product</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cance</button>
        </div>
      </div>
    </div>
  </div>