<!-- <div class="container">
  <div id="content">
    <div class="init"></div>
    <div class="components">
      <div class="row show-hide-message" *ngIf="message">
        <div [ngClass]="messageClass">
            {{ message }}
        </div>
      </div>
    </div>
    <div class="inner">
        <div class="title">
            <h2>Tracking your order</h2>
          </div>
        <form [formGroup]="formsearch">
            <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" id="checkorder" name="checkorder" formControlName="checkorder" [(ngModel)]="checkorder" placeholder="enter phone for order" aria-label="check order for...">
                <span class="input-group-btn">
                    <a class="btn searchbtn" (click)="GetphoneForOrder(checkorder)" type="button">
                        <mat-icon>search</mat-icon>
                    </a>
                </span>
            </div>
        </div>
        </form>
        <img style="margin-left: 18em;width: 25em;height: 25em;" *ngIf="orderstatus==false&&orderdetailstatus==false" src="assets/images/ordertracking.png">

      <div class="components" *ngIf="orderstatus">
        <h1>Items ordered</h1>
        <div class="shopbag" *ngFor="let order of orderpost">
          <div class="phone">
          <p>{{order.dateorder|date:"MM/dd/yy"}}</p>
        </div>
          <div class="info">
            <p *ngIf="order.status=='complete'" style="color:red">{{order.status}}</p>
            <p *ngIf="order.status!='complete'" style="color:chartreuse">{{order.status}}</p>
          </div>
          <div class="quarity">
           <p>Subtotal: ${{order.cart.totalPrice}}</p>
          </div>
          <div class="action">
            <button (click)="GetdetailOrder(order._id)">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </div>
    </div>
   
      <div class="components" *ngIf="orderdetailstatus">
        <h1>Order Process</h1>
          <ol class="progtrckr" data-progtrckr-steps="3">
            <li class="progtrckr-done">Order Processing</li>
            <li class="progtrckr-todo" *ngIf="orderdetail?.status!='shipping order'&& orderdetail?.status!='complete'">Shipping Order</li>
            <li class="progtrckr-done" *ngIf="orderdetail?.status=='shipping order'|| orderdetail?.status=='complete'">Shipping Order</li>
            <li class="progtrckr-todo" *ngIf="orderdetail?.status!='complete'">Complete</li>
            <li class="progtrckr-done" *ngIf="orderdetail?.status=='complete'">Complete</li>
          </ol>
      </div>
      <div class="components" *ngIf="orderdetailstatus">
          <h1>Order Detail</h1>
          <div class="shopbag" *ngFor="let product of products">
            <img src='https://drive.google.com/uc?id={{product.value.leftimage}}' />
            <div class="info">
              <p>{{product.value.nameproduct}}</p>
              <h3>{{product.value.size}}</h3>
            </div>
            <div class="price">
              <p>${{product.value.price}}</p>
            </div>
            <div class="quarity">
              {{product.qty}}
              </div>
            <div class="action">
              <p>${{product.subprice}}</p>
            </div>
          </div>
           
          <div class="shopbag">
            <div class="total">
              <p>Subtotal: ${{orderdetail?.cart.totalPrice}}</p>
              <div>Subtotal Quantity:{{orderdetail?.cart.totalQty}}</div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div> -->