<article class="content items-list-page">
  <div class="card items">
    <div class="title-block">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title"> IMAGE DASHBOARD
          </h3>
          <p class="title-description"> List of sample items - e.g. books, movies, events, etc... </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-8">
          <div class="card tasks sameheight-item" data-exclude="xs,sm">
            <div class="card-header bordered">
              <div class="header-block">
                <h3 class="title"> ALL Color </h3>
              </div>
            </div>
            <div class="card-block">
              <div class="image-block">
              </div>
            </div>
          </div>
        </div>
    </div>
</article>