<!-- <div class="menu-container">
	<div class="logo">
		<a  >
			<img src="assets/images/logo.png">
		</a>
	</div>
	<div class="menuright">
		<li>
			<a>
				<div class="menu-mobile">
					<mat-icon>more_vert</mat-icon>
				</div>
			</a>
		</li>

		<li>
			<a>
				<mat-icon>person</mat-icon>
			</a>
			<ul>
				<li>
					<a *ngIf="isLogin" routerLink='/profile'>
						<button type="button" class="form-control">{{profiles?.username}}</button>
					</a>
					<a *ngIf="!isLogin" routerLink='/login'>
						<button type="button" class="form-control">Login</button>
					</a>
				</li>

				<li *ngIf="isLogin">
					<a routerLink='/profile'>
						<mat-icon>person</mat-icon>
						<p>My Profile</p>
					</a>
				</li>

				<li>
					<a routerLink='/tracking'>
						<mat-icon>shopping_basket</mat-icon>
						<p>Tracking Order</p>
					</a>
				</li>
				<li>
					<a routerLink='/#'>
						<mat-icon>card_giftcard</mat-icon>
						<p>Gilt Card</p>
					</a>
				</li>
				<li *ngIf="!isLogin">
					<a routerLink='/register'>
						<mat-icon>perm_device_information</mat-icon>
						<p>Register</p>
					</a>
				</li>
				<li>
					<a routerLink='/menus'>
						<mat-icon>supervisor_account</mat-icon>
						<p>Admin</p>
					</a>
				</li>
				<li *ngIf="isLogin">
						<a  (click)="logout()">
							<mat-icon>person_outline</mat-icon>
							<p>logout</p>
						</a>
					</li>
			</ul>
		</li>
		<li>
			<a routerLink='/'>
				<mat-icon>help_outline</mat-icon>
			</a>
		</li>
		<div class="cart">
			<a (on-mouseover)="getCart()">
				<mat-icon>shopping_cart</mat-icon>
			</a>
			<ul>
				<div class="title">
					Shopping bag
					<div class="buttonaction">
						<a routerLink='/' (click)="removeAllCart()">
							clear all item
						</a>
					</div>
				</div>
				<div class="content" id="style-scrollbar">
					<li *ngFor="let cart of cartpost">
						<a>
							<img src='https://drive.google.com/uc?id={{cart.item.leftimage}}' />
							<div class="buttonaction">
								<a (click)="removeItemCart(cart.item._id)">
									<mat-icon>delete</mat-icon>
								</a>
								<a (click)="increaseItemCart(cart.item._id)">
									<mat-icon>keyboard_arrow_up</mat-icon>
								</a>
								<a (click)="reduceItemCart(cart.item._id)">
									<mat-icon>keyboard_arrow_down</mat-icon>
								</a>
							</div>
							<div class="titleproduct">
								<div class="nameproduct">
									{{cart.item.nameproduct}}
								</div>
								<div class="description">
									{{cart.item.description}}
								</div>
								<div class="price">
									{{cart.item.price}}
								</div>
								<div class="quantity">
									{{cart.qty}}
								</div>
							</div>
						</a>
					</li>

				</div>
				<div class="total">
					Subtotal:{{total}}
				</div>
				<div class="checkout">
					<a type="button" class="btn" routerLink='/checkout'> checkout</a>
				</div>
			</ul>
		</div>
		<li>
			<a routerLink='/'>
				<mat-icon>notifications</mat-icon>
			</a>
		</li>
		<div class="search">
			<a routerLink='/search'>
				<mat-icon>search</mat-icon>
			</a>
			<ul>
				<div class="col-lg-12">
					<form [formGroup]="formsearch">
						<div class="col-lg-12">
						<div class="input-group">
							<input type="text" class="form-control" id="searchproduct" name="searchproduct" formControlName="searchproduct" [(ngModel)]="search" placeholder="Search for..." aria-label="Search for...">
							<span class="input-group-btn">
								<a class="btn searchbtn" type="button">
									<mat-icon>search</mat-icon>
								</a>
							</span>
						</div>
					</div>
					</form>
				</div>
				<div class="product" id="style-scrollbar">
					<div class="title">Products</div>
					<div *ngFor="let product of productpost|productpipe:search">
						<a [routerLink]="['/detailproduct/', product._id]">
							<img src='https://drive.google.com/uc?id={{product.leftimage}}' alt="" />
							<div class="nameproduct">
								{{product.nameproduct}}
							</div>
						</a>
					</div>
				</div>
			</ul>
		</div>
	</div>
	<div class="menu-home">
		<ul>
			<li *ngFor="let menu of menupost">
				<a   (mouseenter)="GetListBranch(menu._id)">{{menu.MenuName}}</a>
				<ul>
					<li *ngFor="let branch of branchpost">
						<a   (mouseenter)="GetListCatalog(branch._id)">{{branch.BranchName}}</a>
						<ul>
							<li *ngFor="let catalog of catalogposts">
								<a  >{{catalog.CatalogName}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a>NEW</a>
				<ul>
					<li>
						<a  >NEW ARRICALS</a>
						<ul>
							<li>
								<a  >Lidership</a>
							</li>
							<li>
								<a  >History</a>
							</li>
							<li>
								<a  >Locations</a>
							</li>
							<li>
								<a  >Careers</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div> -->

<header class="header-client trans_300">

	<!-- Top Navigation -->
	<div class="top_nav">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="top_nav_left">free shipping on all u.s orders over $50</div>
				</div>
				<div class="col-md-6 text-right">
					<div class="top_nav_right">
						<ul class="top_nav_menu">

							<!-- Currency / Language / My Account -->

							<li class="currency">
								<a>
									usd
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="currency_selection">
									<li>
										<a>cad</a>
									</li>
									<li>
										<a>aud</a>
									</li>
									<li>
										<a>eur</a>
									</li>
									<li>
										<a>gbp</a>
									</li>
								</ul>
							</li>
							<li class="language">
								<a>
									English
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="language_selection">
									<li>
										<a>French</a>
									</li>
									<li>
										<a>Italian</a>
									</li>
									<li>
										<a>German</a>
									</li>
									<li>
										<a>Spanish</a>
									</li>
								</ul>
							</li>
							<li class="account">
								<a *ngIf="profileName!=null">
									{{profileName}}
									<i class="fa fa-angle-down"></i>
								</a>
								<a *ngIf="profileName==null" (click)="openLogin(loginmodal)">
									Login
								</a>
								<ul class="account_selection" *ngIf="profileName">
									<li>
										<a routerLink='/profile'>
											<i class="fa fa-sign-in" aria-hidden="true"></i>Profile</a>
									</li>
									<li>
										<a (click)="Logout()">
											<i class="fa fa-user-plus" aria-hidden="true"></i>Logout</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Main Navigation -->

	<div class="main_nav_container">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-right">
					<div class="logo_container">
						<img src="assets/images/logo.png" alt="Logo" title="Logo" width="138">
					</div>
					<nav class="navbar">
						<ul class="navbar_menu">
							<li>
								<a routerLink='/home'>home</a>
							</li>
							<li class="language" *ngFor="let menu of menupost">
								<a (click)="RedirectMenu(menu)">{{menu.MenuName}}</a>
								<ul class="language_selection">
									<li *ngFor="let branch of BranchChild">
										<a>{{branch.BranchName}}</a>
									</li>
								</ul>
							</li>
							<li>
								<a>blog</a>
							</li>
							<li>
								<a>contact</a>
							</li>
						</ul>
						<ul class="navbar_user">
							<li>
								<a routerLink='/search'>
									<i class="fa fa-search" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a *ngIf="profileName!=null" routerLink='/profile'>
									{{profileName}}
									<i class="fa fa-angle-down"></i>
								</a>
								<a *ngIf="profileName==null" (click)="openLogin(loginmodal)">
									<i class="fa fa-user" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a *ngIf="profileName!=null" (click)="Logout()">
									<i class="fa fa-user-plus" aria-hidden="true"></i>Logout</a>
							</li>
							<li class="checkout">
								<a (click)="openCheckout(checkoutmodal)" id="cart">
									<i class="fa fa-shopping-cart" aria-hidden="true"></i>
									<span id="checkout_items" class="checkout_items">{{cartpost?.length}}</span>
								</a>

							</li>
						</ul>
						<div class="hamburger_container">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<app-alert></app-alert>
<!-- Header -->
<div class="fs_menu_overlay"></div>
<div class="hamburger_menu">
	<div class="hamburger_close">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="hamburger_menu_content text-right">
		<ul class="menu_top_nav">
			<li class="menu_item has-children">
				<a>
					usd
					<i class="fa fa-angle-down"></i>
				</a>
				<ul class="menu_selection">
					<li>
						<a>cad</a>
					</li>
					<li>
						<a>aud</a>
					</li>
					<li>
						<a>eur</a>
					</li>
					<li>
						<a>gbp</a>
					</li>
				</ul>
			</li>
			<li class="menu_item has-children">
				<a>
					English
					<i class="fa fa-angle-down"></i>
				</a>
				<ul class="menu_selection">
					<li>
						<a>French</a>
					</li>
					<li>
						<a>Italian</a>
					</li>
					<li>
						<a>German</a>
					</li>
					<li>
						<a>Spanish</a>
					</li>
				</ul>
			</li>
			<li class="menu_item has-children">
				<a *ngIf="profileName!=null">
					{{profileName}}
					<i class="fa fa-angle-down"></i>
				</a>
				<a *ngIf="profileName==null" (click)="openLogin(loginmodal)">
					Login
				</a>
				<ul class="menu_selection" *ngIf="profileName">
					<li>
						<a routerLink='/profile'>
							<i class="fa fa-sign-in" aria-hidden="true"></i>Profile</a>
					</li>
					<li>
						<a (click)="Logout()">
							<i class="fa fa-user-plus" aria-hidden="true"></i>Logout</a>
					</li>
				</ul>
			</li>
			<li class="menu_item">
				<a>home</a>
			</li>
			<li class="menu_item">
				<a>shop</a>
			</li>
			<li class="menu_item">
				<a>promotion</a>
			</li>
			<li class="menu_item">
				<a>pages</a>
			</li>
			<li class="menu_item">
				<a>blog</a>
			</li>
			<li class="menu_item">
				<a>contact</a>
			</li>
		</ul>
	</div>
</div>

<ng-template #checkoutmodal let-c="close" let-d="dismiss">
	<div class='panal-checkout'>
		<div class='order-info'>
			<div class='order-info-content'>
				<h3 class="title">Shopping Cart
					<a style="float: right;" type="button" class="btn btn-secondary" (click)="removeAllCart()">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</h3>
				<div class="checkout-scoll">
					<table class='order-table' *ngFor="let cart of cartpost" (click)="getDetailProduct(cart?.item.Product._id)">
						<tbody>
							<tr>
								<td>
									<img src='https://drive.google.com/uc?id={{cart?.item.Product.Image}}' class='full-width' />
								</td>
								<td>
									<br>
									<span class='thin'> {{cart?.item.Product.ProductName}}</span>
									<br>
									<div class="sort-description">{{cart?.item.Product.ShortDescription}}</div>
									<br>
									<span class='small'> Color:{{cart?.item.Product.Color}}, Size:{{cart?.item.Product.Size}}</span>
									<br>
									<div class='price-checkout'> {{cart?.item.Product.Price| currency}} x {{cart?.totalQty}}</div>
								</td>
								<td>
									<a style="float: right;top:0" type="button" class="btn btn-secondary" (click)="removeItemCart(cart?.item.Product._id)">x</a>
									<div class="button-action" style="float: right;margin-top:25px">
										<div class="form-group">
											<div class="input-group" style="width:100px;">
												<span class="input-group-addon" (click)="reduceItemCart(cart?.item.Product._id)">
													<i class="fa fa-minus" aria-hidden="true"></i>
												</span>
												<input style="text-align: center" min="1" [(ngModel)]="cart.totalQty" type="number" class="form-control underlined">
												<span class="input-group-addon" (click)="increaseItemCart(cart?.item.Product._id)">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</span>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<div class='line'></div>
						</tbody>
					</table>
				</div>
				<div class='line'></div>
				<div class='total'>
					<div class='line'></div>
					<span style='float:left;'>
						<div class='thin dense'>VAT 10%:</div>
						<div class='thin dense'>ToTal Quantity:</div>
						TOTAL
					</span>
					<span style='float:right; text-align:right;'>
						<div class='thin dense'>$68.75</div>
						<div class='thin dense'>{{total?.totalQtyOrder}}</div>
						{{total?.totalOrder| currency}}
					</span>
				</div>
			</div>
		</div>
		<div class='credit-info'>
			<div class='credit-info-content' *ngIf="productDetail">
				<img *ngIf="!productDetail?.Image.LeftImageZoom.ImageLocal" src='https://drive.google.com/uc?id={{productDetail?.Image.LeftImageZoom.IdUrl}}'
				 alt="" class='credit-card-image' />
				<img *ngIf="productDetail?.Image.LeftImageZoom.ImageLocal" src="data:image/png;base64,{{productDetail?.Image.LeftImageZoom.ImageLocal?.data|decode64}}"
				 alt="" class='credit-card-image' />
				<div class='main-content'>
					<h2>{{productDetail?.ProductName}}</h2>
					<div class='description'>
						<h3>{{productDetail?.LongDescription}}</h3>
					</div>
					<div class='purchase-info'>
						<div class='price'>{{productDetail?.Price| currency}}</div>
					</div>
					<div class='options'>
						<div class='color-options'>
							Color:
							<div class='color-picker'>
								<div *ngFor="let color of productDetail?.Color" class="color" [ngStyle]="{'background':color.IdColor.ValueHex}"></div>
							</div>
						</div>
						<div class='size-picker'>
							Size:
							<div class='range-picker'>
								<div *ngFor="let size of productDetail?.Size">{{size.IdSize.SizeName}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button type="button" routerLink='/checkout' class='pay-btn' (click)="c('Close click')">Checkout</button>
		</div>
	</div>
</ng-template>


<ng-template #loginmodal let-c="close" let-d="dismiss">
	<div id="login" class="signin-card">
		<div class="logo-image">
			<img src="assets/images/logo.png" alt="Logo" title="Logo" width="138">
		</div>
		<form [formGroup]="formlogin" (submit)="onLoginSubmit()">
			<div id="form-login-username" class="form-group">
				<label for="username" class="float-label">UserName</label>
				<span class="form-highlight"></span>
				<span class="form-bar"></span>
				<input class="form-control underlined" formControlName="username" type="text" size="18" required />
			</div>
			<div id="form-login-password" class="form-group">
				<label for="password" class="float-label">password</label>
				<span class="form-highlight"></span>
				<span class="form-bar"></span>
				<input id="passwd" class="form-control underlined" formControlName="password" type="password" size="18" alt="password" required>
			</div>
			<!-- <div id="form-login-remember" class="form-group">
					<div class="checkbox checkbox-default">       
						<input id="remember" type="checkbox" value="yes" alt="Remember me" class="">
						<label for="remember">Remember me</label>      
					</div>
				  </div> -->
			<div>
				<button class="btn btn-block btn-info ripple-effect" type="submit" name="Submit" (click)="c('Close click')">Sign in</button>
			</div>
		</form>

	</div>
</ng-template>