<!-- Content
<div id="content">
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>
  <div class="inner">
    <form *ngIf="!loading" (submit)="updateproductSubmit()">
      <div class="title">
        <h2>Update product</h2>
      </div>
        <div class="body">
          <div class="components">
            <h1>Name product</h1>
            <div class="form-group">
              <input type="text" [(ngModel)]="product.nameproduct" id="nameproduct" name="nameproduct" class="form-control">
            </div>
          </div>

          <div class="components">
            <h1>Description</h1>
            <div class="form-group">
              <textarea class="form-control" [(ngModel)]="product.description" name="description" id="description" rows="3"></textarea>
            </div>
          </div>
          <div class="components">
            <h1>Price</h1>
            <div class="form-group">
              <input type="text" [(ngModel)]="product.price" id="price" name="price" class="form-control">
            </div>
          </div>
          <div class="components">
            <h1>Amount Product</h1>
            <div class="form-group">
              <input type="text" [(ngModel)]="product.amount" id="price" name="price" class="form-control">
              </div>
            </div>
          <div class="components">
            <h1>Image</h1>
            <div class="form-group">
              <div>
                <p>Path left image:</p>
                <input id="leftimage" class="form-control" name="leftimage" type="text" />
              </div>
              <br/>
              <div>
                <p>Path left image zoom:</p>
                <input id="leftimagezoom" class="form-control" name="leftimagezoom" type="text" />
              </div>
              <br/>
              <div>
                <p>Path under image:</p>
                <input id="underimage" class="form-control" name="underimage" type="text" />
              </div>
              <br/>
              <div>
                <p>Path under image zoom:</p>
                <input id="underimagezoom" class="form-control" name="underimagezoom"  type="text" />
              </div>
              <br/>
              <div>
                <p>Path behind image:</p>
                <input id="behindimage" class="form-control" name="behindimage" type="text" />
              </div>
              <br/>
              <div>
                <p>Path behind image zoom:</p>
                <input id="behindimagezoom" class="form-control" name="behindimagezoom" type="text" />
              </div>
            </div>
          </div>

        </div>
        <div class="rightbody">
          <div class="components">
            <h1>Catalog</h1>
            <select id="catalog" class="form-control" name="catalog">
              <option></option>
              <option *ngFor="let catalog of catalogposts">
                {{catalog.catalogName}}
              </option>
            </select>
          </div>


          <div class="components">
            <h1>Color</h1>
            <div class="form-group">
              <select id="color" class="form-control" name="color">
                <option>black</option>
                <option>green</option>
                <option>blue</option>
                <option>white</option>
                <option>pink</option>
                <option>red</option>
                <option>yellow</option>
                <option>gray</option>
                <option>orange</option>
                <option>brown</option>
                <option>cyan</option>
                <option>grey</option>
                <option>lightsteelblue</option>
              </select>
            </div>
          </div>

          <div class="components">
            <h1>Promotion</h1>
            <div class="form-group">
              <select id="checksale" class="form-control" name="checksale">
                <option>5</option>
                <option>10</option>
                <option>15</option>
              </select>
            </div>
          </div>

          <div class="components">
            <h1>Size</h1>
            <select id="size" class="size" class="form-control" name="size" >
              <option>30</option>
              <option>31</option>
              <option>32</option>
              <option>33</option>
              <option>34</option>
              <option>35</option>
              <option>36</option>
              <option>37</option>
              <option>38</option>
              <option>39</option>
              <option>40</option>
              <option>41</option>
              <option>42</option>
              <option>43</option>
            </select>
          </div>
          <div class="components">
          <input type="submit" class="btn btn-primary" name="updateproduct-submit" value="Update">
          <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
        </div>
      </div>
    </form>

  </div>
</div> -->
<article class="content items-list-page">
  <div class="title-search-block">
    <div class="title-block">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title"> PRODUCT DASHBOARD
          </h3>
          <p class="title-description" > List of sample items - e.g. books, movies, events, etc... </p>
          <div *ngIf="message">
              {{ message }}
          </div>
        </div>
      </div>
    </div>
    <div class="items-search">
        <button type="button" class="btn btn-secondary">Save</button>
        <button type="button" class="btn btn-secondary">Save And Public</button>
        <button type="button" class="btn btn-secondary">Save And New Create</button>
    </div>
  </div>
  <div class="card items">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" role="tab" href="#basic" data-toggle="tab">Basic Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" href="#image" data-toggle="tab">Product Image</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" href="#price" data-toggle="tab">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" href="#inventory" data-toggle="tab">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" href="#color" data-toggle="tab">Color</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" href="#size" data-toggle="tab">Size</a>
      </li>
    </ul>
    <div class="tab-content">
      <!-- table basic info -->
      <div role="tabpanel" class="tab-pane active fade show" id="basic">
        <div class="form-group">
          <label class="control-label">Name Product</label>
          <input type="text" id="nameproduct" name="nameproduct" class="form-control underlined">
        </div>
        <div class="form-group">
          <label class="control-label">Short Description</label>
          <textarea type="text" rows="2" id="shortdescription" name="shortdescription" class="form-control underlined" placeholder="Enter 500 character for short description"></textarea>
          <span class="has-success">100 character </span>
        </div>
        <div class="form-group">
          <label class="control-label">Long Description</label>
          <textarea type="text" rows="5" id="longdescription" name="longdescription" class="form-control underlined" placeholder="Enter 5000 character for long description"></textarea>
          <span class="has-success">1000 character </span>
        </div>
        <div class="form-group">
          <label class="control-label">Categories</label>
          <select id="catalog" class="form-control" placeholder="Choose a category" name="catalog">
            <option *ngFor="let catalog of catalogposts">
              {{catalog.catalogName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Show up top sale</label>
          <div>
            <label>
              <input class="radio squared" name="squared-radios" type="radio">
              <span>Yes</span>
            </label>
            <label>
              <input class="radio squared" name="squared-radios" checked="checked" type="radio">
              <span>No</span>
            </label>
          </div>
        </div>
      </div>
      <!-- table image -->
      <div role="tabpanel" class="tab-pane fade" id="image">
        <!-- Left image product -->
        <div class="form-group row">
          <label class="col-sm-4 form-control-label text-xs-right"> Left Image Product : </label>
          <div class="col-sm-8">
            <div class="images-container">
              <div class="image-container">
                <div class="controls">
                  <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
                <div class="image" style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')"></div>
              </div>
              <a href="#" class="add-image" data-toggle="modal" data-target="#modal-media">
                <div class="image-container new">
                  <div class="image">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- left image zoom product -->
        <div class="form-group row">
          <label class="col-sm-4 form-control-label text-xs-right"> Left Image Zoom Product : </label>
          <div class="col-sm-8">
            <div class="images-container">
              <div class="image-container">
                <div class="controls">
                  <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
                <div class="image" style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')"></div>
              </div>
              <a href="#" class="add-image" data-toggle="modal" data-target="#modal-media">
                <div class="image-container new">
                  <div class="image">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- right image zoom product -->
        <div class="form-group row">
          <label class="col-sm-4 form-control-label text-xs-right"> Right Image Product : </label>
          <div class="col-sm-8">
            <div class="images-container">
              <div class="image-container">
                <div class="controls">
                  <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
                <div class="image" style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')"></div>
              </div>
              <a href="#" class="add-image" data-toggle="modal" data-target="#modal-media">
                <div class="image-container new">
                  <div class="image">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- right image zoom product -->
        <div class="form-group row">
          <label class="col-sm-4 form-control-label text-xs-right"> Right Image Zoom Product : </label>
          <div class="col-sm-8">
            <div class="images-container">
              <div class="image-container">
                <div class="controls">
                  <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
                <div class="image" style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')"></div>
              </div>
              <a href="#" class="add-image" data-toggle="modal" data-target="#modal-media">
                <div class="image-container new">
                  <div class="image">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- under image product -->
        <div class="form-group row">
          <label class="col-sm-4 form-control-label text-xs-right"> Under Image Product : </label>
          <div class="col-sm-8">
            <div class="images-container">
              <div class="image-container">
                <div class="controls">
                  <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
                <div class="image" style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')"></div>
              </div>
              <a href="#" class="add-image" data-toggle="modal" data-target="#modal-media">
                <div class="image-container new">
                  <div class="image">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- under image zoom product -->
        <div class="form-group row">
          <label class="col-sm-4 form-control-label text-xs-right"> Under Image Zoom Product : </label>
          <div class="col-sm-8">
            <div class="images-container">
              <div class="image-container">
                <div class="controls">
                  <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
                <div class="image" style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')"></div>
              </div>
              <a href="#" class="add-image" data-toggle="modal" data-target="#modal-media">
                <div class="image-container new">
                  <div class="image">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- end image product -->
        <!-- model delete image -->
        <div class="modal fade" id="confirm-modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">
                  <i class="fa fa-warning"></i> Alert delete imgae</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure want delete this image?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
      <!-- table price -->
      <div role="tabpanel" class="tab-pane fade" id="price">
        <div class="form-group">
          <label class="control-label">Price</label>
          <div class="input-group">
            <span class="input-group-text">USD</span>
            <input type="Number" class="form-control underlined" placeholder="Enter price product">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Promotion</label>
          <select id="catalog" class="form-control" placeholder="Choose a promotion" name="promotion">
            <option>Sale off 50%</option>
            <option>Sale off 20%</option>
            <option>Sale off 10%</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Price Sale</label>
          <div class="input-group">
            <span class="input-group-text">USD</span>
            <input type="Number" disabled="disabled" class="form-control underlined" placeholder="Choose type promotion">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Notification for Promotion</label>
          <div>
            <label>
              <input class="radio squared" name="squared-radios" type="radio">
              <span>Yes</span>
            </label>
            <label>
              <input class="radio squared" name="squared-radios" checked="checked" type="radio">
              <span>No</span>
            </label>
          </div>
        </div>
      </div>
      <!-- table inventory -->
      <div role="tabpanel" class="tab-pane fade" id="inventory">
        <div class="form-group">
          <label class="control-label">Amount Product</label>
          <div class="input-group">
            <span class="input-group-text">Doublet</span>
            <input type="Number" class="form-control underlined" placeholder="Enter amount product">
          </div>
        </div>
      </div>
      <!-- table color  -->
      <div role="tabpanel" class="tab-pane fade" id="color">
        <div class="form-group row">
          <div class="images-container">
            <div class="image-container">
              <div class="controls">
                <a href="" class="control-btn move">
                  <i class="fa fa-arrows"></i>
                </a>
                <a href="" class="control-btn star">
                  <i class="fa"></i>
                </a>
                <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                  <i class="fa fa-trash-o"></i>
                </a>
              </div>
              <div class="image" style="background: #000000;"></div>
            </div>
            <div class="image-container">
              <div class="controls">
                <a href="" class="control-btn move">
                  <i class="fa fa-arrows"></i>
                </a>
                <a href="" class="control-btn star">
                  <i class="fa"></i>
                </a>
                <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                  <i class="fa fa-trash-o"></i>
                </a>
              </div>
              <div class="image" style="background: #ff0000;"></div>
            </div>
            <div class="image-container">
              <div class="controls">
                <a href="" class="control-btn">
                  <i class="fa fa-arrows"></i>
                </a>
                <a href="" class="control-btn star">
                  <i class="fa"></i>
                </a>
                <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                  <i class="fa fa-trash-o"></i>
                </a>
              </div>
              <div class="image" style="background: #00ff0d;"></div>
            </div>
            <a href="#" class="add-image" data-toggle="modal" data-target="#modal-color">
              <div class="image-container new">
                <div class="image">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- table  size -->
      <div role="tabpanel" class="tab-pane fade" id="size">
        <ul class="item-list striped">
          <li class="item item-list-header">
            <div class="item-row">
              <div class="item-col fixed item-col-check">
                <label class="item-check" id="select-all-items">
                  <input type="checkbox" class="checkbox">
                  <span></span>
                </label>
              </div>
              <div class="item-col fixed pull-left item-col-title">
                <div>
                  <span>Name Size</span>
                </div>
              </div>
              <div class="item-col item-col-header item-col-conten">
                <div>
                  <span>Type Size</span>
                </div>
              </div>
              <div class="item-col item-col-header item-col-conten">
                <div>
                  <span>Active/InActive</span>
                </div>
              </div>
              <div class="item-col item-col-header item-col-conten">
                <div>
                  <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      Action
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <button type="button" class="btn btn-success">
                          <i class="fa fa-smile-o"></i>
                      </button>
                      <button type="button" class="btn btn-warning">
                          <i class="fa fa-frown-o"></i> 
                      </button>
                      <button type="button" class="btn btn-danger">
                        <i class="fa fa-trash-o "></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item-row">
              <div class="item-col fixed item-col-check">
                <label class="item-check" id="select-all-items">
                  <input type="checkbox" class="checkbox">
                  <span></span>
                </label>
              </div>
              <div class="item-col fixed pull-left item-col-title">
                <div class="item-heading">Name Size</div>
                <div>
                  <div>12</div>
                </div>
              </div>
              <div class="item-col item-col-conten">
                <div class="item-heading">Type size</div>
                <div>Number size</div>
              </div>
              <div class="item-col item-col-conten">
                <div class="item-heading">Active/InActive</div>
                <div>Active</div>
              </div>
              <div class="item-col item-col-conten">
                <div class="item-heading">Price Product</div>
                <div>
                    <button class="btn btn-sm btn-{{Active ? 'success' : 'danger'}}" (click)="Active = !Active">
                        {{ Active ? "Active" : "InActive"}}
                      </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</article>


<!-- Model Image-->
<div class="modal fade" id="modal-media">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Image Library</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body modal-tab-container">
        <ul class="nav nav-tabs modal-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
          </li>
        </ul>
        <div class="tab-content modal-tab-content">
          <div class="tab-pane fade" id="gallery" role="tabpanel">
            <div class="images-container">
              <div class="row">
                <div class="col-6 col-sm-4  col-md-4 col-lg-3">
                  <div class="image-container">
                    <div class="controls">
                      <a href="" class="control-btn star">
                        <i class="fa"></i>
                      </a>
                      <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    </div>
                    <div class="image" style="background: #00ff0d;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade active in" id="upload" role="tabpanel">
            <div class="upload-container">
              <div id="dropzone">
                <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                  <div class="dz-message-block">
                    <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Insert Selected</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Model color-->
<div class="modal fade" id="modal-color">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Color Library</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body modal-tab-container">
        <ul class="nav nav-tabs modal-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" href="#gallerycolor" data-toggle="tab" role="tab">Gallery Color</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#createcolor" data-toggle="tab" role="tab">Create Color</a>
          </li>
        </ul>
        <div class="tab-content modal-tab-content">
          <div class="tab-pane fade" id="gallerycolor" role="tabpanel">
            <div class="images-container">
              <div class="row">
                <div class="col-6 col-sm-4  col-md-4 col-lg-3">
                  <div class="image-container">
                    <div class="controls">
                      <a href="" class="control-btn star">
                        <i class="fa"></i>
                      </a>
                      <a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    </div>
                    <div class="image" style="background: #00ff0d;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade active in" id="createcolor" role="tabpanel">
            <div class="upload-container">
              <div id="dropzone">
                <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                  <div class="dz-message-block">
                    <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Insert Selected</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>