<!-- Slider -->

<div class="main_slider" style="background-image:url(./assets/images/store/slider_1.jpg)">
  <div class="container fill_height">
    <div class="row align-items-center fill_height">
      <div class="col">
        <div class="main_slider_content">
          <h6>Spring / Summer Collection 2017</h6>
          <h1>Get up to 30% Off New Arrivals</h1>
          <div class="red_button shop_now_button">
            <a href="#">shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner -->

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image:url(./assets/images/store/banner_1.jpg)">
          <div class="banner_category">
            <a href="categories.html">women's</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image:url(./assets/images/store/banner_2.jpg)">
          <div class="banner_category">
            <a href="categories.html">accessories's</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image:url(./assets/images/store/banner_3.jpg)">
          <div class="banner_category">
            <a href="categories.html">men's</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New Arrivals -->

<!-- <div class="new_arrivals">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>TOP SALES</h2>
        </div>
      </div>
    </div>
    <div class="listproduct">
      <div *ngIf="progress" style="margin-left:50%">
        <svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
          <g>
            <rect class="bar" transform="translate(0,0)" y="15"></rect>
            <rect class="bar" transform="translate(25,0)" y="15"></rect>
            <rect class="bar" transform="translate(50,0)" y="15"></rect>
            <rect class="bar" transform="translate(75,0)" y="15"></rect>
            <rect class="bar" transform="translate(100,0)" y="15"></rect>
          </g>
        </svg>
      </div>
      <a *ngFor="let product of productpost|DeleteObject:false">
        <img *ngIf="!product.Image?.LeftImageZoom.ImageLocal" src='https://drive.google.com/uc?id={{product.Image?.LeftImageZoom.IdUrl}}'
          alt="" />
        <img *ngIf="product.Image?.LeftImageZoom.ImageLocal" src="data:image/png;base64,{{product.Image?.LeftImageZoom.ImageLocal?.data|decode64}}"
        />
        <span class="product-title">
          <b>{{product.ProductName}}</b>
        </span>
        <div *ngIf="product.CheckNew==true" class="newicon"></div>       
        <div *ngIf="product.Onsale==true" class="saleicon"></div>       
        <div class="price">{{product.Price}}</div>
        <div class="showaction">
          <div class="over-image"></div>
          <div class="view_details" (click)="onDetail(product?._id)">View Detail</div>
          <div class="card-body">
              <span class="product-size">
                <h4>Size</h4>
                <ul class="ul-size">
                  <li *ngFor="let size of product.Size">{{size.IdSize?.SizeName}}</li>
                </ul>
              </span>
              <span class="product-color">
                <h4>Colour</h4>
                <ul class="ul-color">
                  <li *ngFor="let color of product.Color" [ngStyle]="{'background':color.IdColor?.ValueHex}"></li>
                </ul>
              </span>
              <div class="groupbuton"></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div> -->
<div class="new_arrivals">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>New Arrivals</h2>
        </div>
      </div>
    </div>
    <div class="listproduct">
      <div *ngIf="progress" style="margin-left:50%">
        <svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
          <g>
            <rect class="bar" transform="translate(0,0)" y="15"></rect>
            <rect class="bar" transform="translate(25,0)" y="15"></rect>
            <rect class="bar" transform="translate(50,0)" y="15"></rect>
            <rect class="bar" transform="translate(75,0)" y="15"></rect>
            <rect class="bar" transform="translate(100,0)" y="15"></rect>
          </g>
        </svg>
      </div>
      <a *ngFor="let product of productpost|NewProduct:false">
        <img *ngIf="!product.Image?.LeftImageZoom.ImageLocal" src='https://drive.google.com/uc?id={{product.Image?.LeftImageZoom.IdUrl}}'
          alt="" />
        <img *ngIf="product.Image?.LeftImageZoom.ImageLocal" src="data:image/png;base64,{{product.Image?.LeftImageZoom.ImageLocal?.data|decode64}}"
        />
        <span class="product-title">
          <b>{{product.ProductName}}</b>
        </span>
        <div *ngIf="product.CheckNew==true" class="newicon"></div>       
        <div class="price">{{product.Price}}</div>
        <div class="showaction">
          <div class="over-image"></div>
          <div class="view_details" (click)="onDetail(product?._id)">View Detail</div>
          <div class="card-body">
              <span class="product-size">
                <h4>Size</h4>
                <ul class="ul-size">
                  <li *ngFor="let size of product.Size">{{size.IdSize?.SizeName}}</li>
                </ul>
              </span>
              <span class="product-color">
                <h4>Colour</h4>
                <ul class="ul-color">
                  <li *ngFor="let color of product.Color" [ngStyle]="{'background':color.IdColor?.ValueHex}"></li>
                </ul>
              </span>
              <div class="groupbuton">
                <a class="btn">Quick buy</a>
                <a class="btn" (click)="AddToCart(product)">Add to cart</a>
              </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>