<article class="content items-list-page">
    <div class="card items">
        <div class="title-block">
          <div class="row">
            <div class="col-md-6">
              <h3 class="title"> General setting for website
              </h3>
              <p class="title-description"> List of sample items - e.g. books, movies, events, etc... </p>
            </div>
          </div>
        </div>
        </div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" role="tab" href="#color" data-toggle="tab">Color</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="tab" href="#size" data-toggle="tab">Size</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="tab" href="#payment" data-toggle="tab">Payment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="tab" href="#shipping" data-toggle="tab">Shipping</a>
    </li>
  </ul>
  <div class="tab-content">
    <!-- table color info -->
    <div role="tabpanel" class="tab-pane active fade show" id="color">
      <div class="row">
        <div class="col-sm-7">
          <div class="card tasks sameheight-item" data-exclude="xs,sm">
            <div class="card-header bordered">
              <div class="header-block">
                <h3 class="title"> ALL Color </h3>
              </div>
              <div class="header-block pull-right">
                <a (click)="opencreate(createcolor)" class="btn btn-primary btn-sm rounded pull-right"> Add new </a>
              </div>
            </div>
            <div class="card-block">
              <div class="tasks-block">
                <ul class="item-list" *ngFor="let color of colorposts">
                  <a (click)="detailColor(color._id)">
                    <li class="item">
                      <div class="item-row">
                        <div class="item-col item-col-title">
                          <label>
                            <input class="checkbox" type="checkbox" >
                            <span>{{color?.ColorName}}</span>
                          </label>
                        </div>
                        <div class="item-col fixed item-col-actions-dropdown">
                          <div class="imageforcolor" [ngStyle]="{'background':color.ValueHex}"></div>
                        </div>
                      </div>
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card items">
            <div class="title-block">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="title"> COLOR DASHBOARD
                  </h3>
                  <p class="title-description"> List of sample items - e.g. books, movies, events, etc... </p>
                </div>
              </div>
              <div style="float: right;">
                <button class="btn btn-secondary" (click)="DeleteColor(DetailColor?._id)">
                  <i class="fa fa-trash-o "></i>
                </button>
                <button class="btn btn-secondary" (click)="EditColor()">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
            </div>
            <ul class="item-list striped">
              <li class="item">
                <form (submit)="updateColorSubmit()">
                  <div class="item-row">
                    <div class="item-col item-col-title">
                      <label *ngIf="isDetailColor">Name Color: </label>
                      <label style="padding-left: 10px;font-size:25px" *ngIf="isDetailColor">{{DetailColor?.ColorName}}</label>
                      <div class="form-group" *ngIf="isEditColor">
                        <label class="control-label">Name Color</label>
                        <input type="text" [(ngModel)]="DetailColor.ColorName" id="ColorName_edit" name="ColorName_edit" class="form-control underlined">
                      </div>
                    </div>
                  </div>
                  <div class="item-row">
                    <div class="item-col item-col-title">
                      <div *ngIf="isDetailColor" class="imageforcolor" [ngStyle]="{'background':DetailColor.ValueHex}"></div>
                      <div class="form-group" *ngIf="isEditColor">
                        <label class="control-label">Value color</label>
                        <input type="color" [(ngModel)]="DetailColor.ValueHex" id="ValueHex_edit" name="ValueHex_edit" class="form-control">
                      </div>
                    </div>
                  </div>
                  <button *ngIf="isEditColor" type="button" (click)="detailColor(DetailColor._id)" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                  <button *ngIf="isEditColor" type="submit" class="btn btn-secondary" data-dismiss="modal">Save</button>
                </form>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>
    <!-- table color info -->
    <div role="tabpanel" class="tab-pane fade show" id="size">
      <div class="row">
        <div class="col-sm-7">
          <div class="card tasks sameheight-item" data-exclude="xs,sm">
            <div class="card-header bordered">
              <div class="header-block">
                <h3 class="title"> ALL SIZE </h3>
              </div>
              <div class="header-block pull-right">
                <a (click)="opencreateSize(createsize)" class="btn btn-primary btn-sm rounded pull-right"> Add new </a>
              </div>
            </div>
            <div class="card-block">
              <div class="tasks-block">
                <ul class="item-list" *ngFor="let size of sizeposts">
                  <a (click)="detailSize(size._id)">
                    <li class="item">
                      <div class="item-row">
                        <div class="item-col item-col-title">
                          <label>
                            <input class="checkbox" type="checkbox" >
                            <span>{{size?.SizeName}}</span>
                          </label>
                        </div>
                        <div class="item-col item-col-title">
                          <label>
                            <span>{{size?.TypeSize}}</span>
                          </label>
                        </div>
                      </div>
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card items">
            <div class="title-block">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="title"> SIZE DASHBOARD
                  </h3>
                  <p class="title-description"> List of sample items - e.g. books, movies, events, etc... </p>
                </div>
              </div>
              <div style="float: right;">
                <button class="btn btn-secondary" (click)="DeleteSize(DetailSize?._id)">
                  <i class="fa fa-trash-o "></i>
                </button>
                <button class="btn btn-secondary" (click)="EditSize()">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
            </div>
            <ul class="item-list striped">
              <li class="item">
                <form (submit)="updateSizeSubmit()">
                  <div class="item-row">
                    <div class="item-col item-col-title">
                      <label *ngIf="isDetailSize">Name Size: </label>
                      <label style="padding-left: 10px;font-size:25px" *ngIf="isDetailSize">{{DetailSize?.SizeName}}</label>
                      <div class="form-group" *ngIf="isEditSize">
                        <label class="control-label">Name Size</label>
                        <input type="text" [(ngModel)]="DetailSize.SizeName" id="SizeName_edit" name="SizeName_edit" class="form-control underlined">
                      </div>
                    </div>
                  </div>
                  <div class="item-row">
                    <div class="item-col item-col-title">
                      <label *ngIf="isDetailSize">Type Size: </label>
                      <label style="padding-left: 10px;font-size:25px" *ngIf="isDetailSize">{{DetailSize?.TypeSize}}</label>
                      <div class="form-group" *ngIf="isEditSize">
                        <label class="control-label">Type Size</label>
                        <select [(ngModel)]="DetailSize.TypeSize" id="TypeSize_edit" name="TypeSize_edit"  class="form-control" placeholder="Choose a category">
                            <option>Size số</option>
                            <option>Size chữ</option>
                            <option>Khác</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <button *ngIf="isEditSize" type="button" (click)="detailSize(DetailSize._id)" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                  <button *ngIf="isEditSize" type="submit" class="btn btn-secondary" data-dismiss="modal">Save</button>
                </form>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>
    <!-- table payment info -->
    <div role="tabpanel" class="tab-pane  fade show" id="payment">
    </div>
    <!-- table payment info -->
    <div role="tabpanel" class="tab-pane  fade show" id="shipping">
    </div>
  </div>
</article>

<!-- modal color for create -->
<ng-template #createcolor let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fa fa-warning"></i> Create new color ?</h4>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formColor" (submit)="onCreateColorSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label">Name Color</label>
        <input type="text" formControlName="ColorName" class="form-control underlined">
      </div>
      <div class="form-group">
        <label class="control-label">Value color</label>
        <input type="color" formControlName="ValueHex" class="form-control">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" id="submitsize" name="submitcolor" class="btn btn-info" (click)="c('Close click')">Save for Create</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">cance</button>
    </div>
  </form>
</ng-template>

<!-- modal color for create -->
<ng-template #createsize let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fa fa-warning"></i> Create new Size ?</h4>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formSize" (submit)="onCreateSizeSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label">Name Size</label>
        <input type="text" formControlName="SizeName" class="form-control underlined">
      </div>
      <div class="form-group">
        <label class="control-label">Type Size</label>
        <select formControlName="TypeSize"class="form-control" placeholder="Choose a category">
            <option>Size số</option>
            <option>Size chữ</option>
            <option>Khác</option>
          </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" id="submitsize" name="submitsize" class="btn btn-info" (click)="c('Close click')">Save for Create</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">cance</button>
    </div>
  </form>
</ng-template>