<article class="content items-list-page">
  <div class="title-search-block">
    <div class="title-block">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title"> PRODUCT DASHBOARD
          </h3>
          <p class="title-description"> List of sample items - e.g. books, movies, events, etc... </p>
          <div *ngIf="message">
            {{ message }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card items">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" role="tab" href="#basic" data-toggle="tab">Basic Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" href="#image" data-toggle="tab">Product Image</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" href="#price" data-toggle="tab">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" href="#inventory" data-toggle="tab">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" href="#color" data-toggle="tab">Color</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" href="#size" data-toggle="tab">Size</a>
      </li>
    </ul>
    <form [formGroup]="formProduct" (submit)="onCreateProductSubmit()">
      <div class="tab-content">
        <!-- table basic info -->
        <div role="tabpanel" class="tab-pane active fade show" id="basic">
          <div class="form-group">
            <label class="control-label">Name Product</label>
            <input type="text" formControlName="ProductName" class="form-control underlined">
          </div>
          <div class="form-group">
            <label class="control-label">Short Description</label>
            <textarea type="text" rows="2" formControlName="ShortDescription" class="form-control underlined" placeholder="Enter 500 character for short description"></textarea>
            <span class="has-success">100 character </span>
          </div>
          <div class="form-group">
            <label class="control-label">Long Description</label>
            <textarea type="text" rows="5" formControlName="LongDescription" class="form-control underlined" placeholder="Enter 5000 character for long description"></textarea>
            <span class="has-success">1000 character </span>
          </div>
          <div class="form-group">
            <label class="control-label">Categories</label>
            <select formControlName="CatalogParent" class="form-control" placeholder="Choose a category">
              <option *ngFor="let catalog of catalogposts" value="{{catalog._id}}">
                {{catalog.CatalogName}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Show up top new product</label>
            <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="CheckNew">
              <label ngbButtonLabel class="btn-primary">
                <input class="radio squared" ngbButton type="radio" [value]="true"> Yes
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="false"> No
              </label>
            </div>
          </div>
        </div>
        <!-- table image -->
        <div role="tabpanel" class="tab-pane fade" id="image">
          <!-- Left image product -->
          <div class="form-group row">
            <label class="col-sm-4 form-control-label text-xs-right"> Left Image Product : </label>
            <div class="col-sm-8">
              <div class="images-container">
                <div class="image-container">
                  <div class="controls">
                    <a class="control-btn remove" (click)="removeimage(1)">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </div>
                  <img class="image" src='https://drive.google.com/uc?id={{Image.LeftImage}}' alt="" />
                </div>
                <a class="add-image" (click)="opeImportImage(importdimage,1)">
                  <div class="image-container new">
                    <div class="image">
                      <i class="fa fa-plus"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- left image zoom product -->
          <div class="form-group row">
            <label class="col-sm-4 form-control-label text-xs-right"> Left Image Zoom Product : </label>
            <div class="col-sm-8">
              <div class="images-container">
                <div class="image-container">
                  <div class="controls">
                    <a class="control-btn remove" (click)="removeimage(2)">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </div>
                  <img class="image" src='https://drive.google.com/uc?id={{Image.LeftImageZoom}}' alt="" />
                </div>
                <a class="add-image" (click)="opeImportImage(importdimage,2)">
                  <div class="image-container new">
                    <div class="image">
                      <i class="fa fa-plus"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- right image zoom product -->
          <div class="form-group row">
            <label class="col-sm-4 form-control-label text-xs-right"> Right Image Product : </label>
            <div class="col-sm-8">
              <div class="images-container">
                <div class="image-container">
                  <div class="controls">
                    <a class="control-btn remove" (click)="removeimage(3)">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </div>
                  <img class="image" src='https://drive.google.com/uc?id={{Image.RightImage}}' alt="" />
                </div>
                <a class="add-image" (click)="opeImportImage(importdimage,3)">
                  <div class="image-container new">
                    <div class="image">
                      <i class="fa fa-plus"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- right image zoom product -->
          <div class="form-group row">
            <label class="col-sm-4 form-control-label text-xs-right"> Right Image Zoom Product : </label>
            <div class="col-sm-8">
              <div class="images-container">
                <div class="image-container">
                  <div class="controls">
                    <a class="control-btn remove" (click)="removeimage(4)">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </div>
                  <img class="image" src='https://drive.google.com/uc?id={{Image.RightImageZoom}}' alt="" />
                </div>
                <a class="add-image" (click)="opeImportImage(importdimage,4)">
                  <div class="image-container new">
                    <div class="image">
                      <i class="fa fa-plus"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- under image product -->
          <div class="form-group row">
            <label class="col-sm-4 form-control-label text-xs-right"> Under Image Product : </label>
            <div class="col-sm-8">
              <div class="images-container">
                <div class="image-container">
                  <div class="controls">
                    <a class="control-btn remove" (click)="removeimage(5)">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </div>
                  <img class="image" src='https://drive.google.com/uc?id={{Image.UnderImage}}' alt="" />
                </div>
                <a class="add-image" (click)="opeImportImage(importdimage,5)">
                  <div class="image-container new">
                    <div class="image">
                      <i class="fa fa-plus"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- under image zoom product -->
          <div class="form-group row">
            <label class="col-sm-4 form-control-label text-xs-right"> Under Image Zoom Product : </label>
            <div class="col-sm-8">
              <div class="images-container">
                <div class="image-container">
                  <div class="controls">
                    <a class="control-btn remove" (click)="removeimage(6)">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </div>
                  <img class="image" src='https://drive.google.com/uc?id={{Image.UnderImageZoom}}' alt="" />
                </div>
                <a class="add-image" (click)="opeImportImage(importdimage,6)">
                  <div class="image-container new">
                    <div class="image">
                      <i class="fa fa-plus"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- table price -->
        <div role="tabpanel" class="tab-pane fade" id="price">
          <div class="form-group">
            <label class="control-label">Price</label>
            <div class="input-group">
              <span class="input-group-text">VND</span>
              <input type="Number" formControlName="Price" min="0" step="50000" (change)="ChangPriceOnSale()" data-number-to-fixed="2"
                class="form-control underlined" placeholder="Enter price product">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Promotion</label>
            <select formControlName="Promotion" class="form-control" (change)="ChangPriceOnSale()" placeholder="Choose a promotion">
              <option value="{{promotion._id}}" *ngFor="let promotion of promotionposts">
                {{promotion.PromotionName}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <ul *ngIf="promotionDetail">
              <li class="control-label">Price Sale: {{PriceOnSale}} VND</li>
              <li class="control-label">Type Promotion: {{promotionDetail.TypePromotion}}</li>
              <li class="control-label">Percent decrease: {{promotionDetail.Value}} %</li>
              <li class="control-label">Start Date: {{promotionDetail.SaleStartDate | date:'dd/MM/yyyy'}}</li>
              <li class="control-label">End Date: {{promotionDetail.SaleEndDate | date:'dd/MM/yyyy'}}</li>
            </ul>
          </div>
          <div class="form-group">
            <label class="control-label">Notification for Promotion</label>
            <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="Onsale">
              <label ngbButtonLabel class="btn-primary">
                <input class="radio squared" ngbButton type="radio" [value]="true"> Yes
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="false"> No
              </label>
            </div>
          </div>
        </div>
        <!-- table inventory -->
        <div role="tabpanel" class="tab-pane fade" id="inventory">
          <div class="form-group">
            <label class="control-label">Amount Product</label>
            <div class="input-group">
              <span class="input-group-text">Doublet</span>
              <input type="Number" formControlName="AmountProduct" min="0" step="1" class="form-control underlined" placeholder="Enter amount product">
            </div>
          </div>
        </div>
        <!-- table color  -->
        <div role="tabpanel" class="tab-pane fade" id="color">
          <div class="images-container">
            <div class="image-container" *ngFor="let color of lstColorDisplay">
              <div class="controls">
                <a class="control-btn" (click)="IsActiveColor(color)">
                      <i class="fa fa-smile-o"></i>
                </a>
                <a  class="control-btn remove" (click)="UnchooseColor(color)">
                  <i class="fa fa-trash-o"></i>
                </a>
              </div>
              <div *ngIf="color.IsActive" class="image" [ngStyle]="{'background':color.ValueHex}">
                  <p>{{color.ColorName}}</p>
              </div>
              <div *ngIf="!color.IsActive" class="image" [ngStyle]="{'background':'rgb(191, 191, 191)'}">
                  <p>{{color.ColorName}}</p>
              </div>
            </div>
            <a class="add-image" (click)="openImportColor(importcolor)">
              <div class="image-container new">
                <div class="image">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- table  size -->
        <div role="tabpanel" class="tab-pane fade" id="size">
          <div class="row">
            <div class="col-sm-4">
              <div class="image-block">
                <div class="imagescoll">
                  <ul class="item-list" *ngFor="let lstsize of sizeposts">
                    <a>
                      <li class="item">
                        <div class="item-row">
                          <div class="item-col item-col-title">
                            <label>
                              <input type="checkbox" class="checkbox">
                              <span>{{lstsize.SizeName}}</span>
                            </label>
                          </div>
                          <div class="item-col item-col-title">
                            <label>
                              <span>{{lstsize.TypeSize}}</span>
                            </label>
                          </div>
                          <div class="item-col item-col-title">
                            <a class="btn btn-secondary" (click)="MoveSize(lstsize)">
                              <i class="fa fa-exchange" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <ul class="item-list striped">
                <li class="item item-list-header">
                  <div class="item-row">
                    <div class="item-col fixed item-col-check">
                      <label class="item-check" id="select-all-items">
                        <input type="checkbox" class="checkbox">
                        <span></span>
                      </label>
                    </div>
                    <div class="item-col fixed pull-left item-col-title">
                      <div>
                        <span>Name Size</span>
                      </div>
                    </div>
                    <div class="item-col item-col-header item-col-conten">
                      <div>
                        <span>Active/InActive</span>
                      </div>
                    </div>
                    <div class="item-col item-col-header item-col-conten">
                      <div>
                        <div class="dropdown show">
                          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Action
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <button type="button" class="btn btn-success">
                              <i class="fa fa-smile-o"></i>
                            </button>
                            <button type="button" class="btn btn-warning">
                              <i class="fa fa-frown-o"></i>
                            </button>
                            <button type="button" class="btn btn-danger">
                              <i class="fa fa-trash-o "></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item" *ngFor="let size of lstSizeDisplay">
                  <div class="item-row">
                    <div class="item-col item-col-conten">
                      <label class="item-check" id="select-all-items">
                        <input type="checkbox" class="checkbox">
                        <a class="btn btn-secondary" (click)="UnMoveSize(size)">
                          <i class="fa fa-exchange" aria-hidden="true"></i>
                        </a>
                      </label>
                    </div>
                    <div class="item-col fixed pull-left item-col-title">
                      <div class="item-heading">Name Size</div>
                      <div>
                        <div>{{size.SizeName}}</div>
                      </div>
                    </div>
                    <div class="item-col item-col-conten">
                      <div class="item-heading">Active/InActive</div>
                      <div>{{size.IsActive? "Active" : "InActive"}}</div>
                    </div>
                    <div class="item-col item-col-conten">
                      <div class="item-heading">Price Product</div>
                      <div>
                        <a class="btn btn-sm btn-{{size.IsActive ? 'success' : 'danger'}}" (click)="size.IsActive = !size.IsActive">
                          {{ size.IsActive ? "Active" : "InActive"}}
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div style="float:right">
          <button type="submit" class="btn btn-secondary">Save</button>
          <button type="button" class="btn btn-secondary">Save And Public</button>
          <button type="button" class="btn btn-secondary">Save And New Create</button>
        </div>
    </form>
  </div>
</article>
<!-- modal import image -->
<ng-template #importdimage let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fa fa-warning"></i> Image library?</h4>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="isFolder">
      <div class="folder-block" *ngFor="let folder of Folderposts">
        <button (click)="getImageList(folder._id)"></button>
        <div class="namefolder">
          <span>{{folder.FolderName}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!isFolder" class="images-container">
      <div class="image-container" *ngFor="let image of Imageposts">
        <div class="controls">
          <a *ngIf="leftiamge">
            <i class="fa fa-plus-circle" aria-hidden="true" (click)="d('Cross click')" (click)="chooseImage(image.IdUrl,1)"></i>
          </a>
          <a *ngIf="leftiamgezoom">
            <i class="fa fa-plus-circle" aria-hidden="true" (click)="d('Cross click')" (click)="chooseImage(image.IdUrl,2)"></i>
          </a>
          <a *ngIf="rightiamge">
            <i class="fa fa-plus-circle" aria-hidden="true" (click)="d('Cross click')" (click)="chooseImage(image.IdUrl,3)"></i>
          </a>
          <a *ngIf="rightiamgezoom">
            <i class="fa fa-plus-circle" aria-hidden="true" (click)="d('Cross click')" (click)="chooseImage(image.IdUrl,4)"></i>
          </a>
          <a *ngIf="underimage">
            <i class="fa fa-plus-circle" aria-hidden="true" (click)="d('Cross click')" (click)="chooseImage(image.IdUrl,5)"></i>
          </a>
          <a *ngIf="underimagezoom">
            <i class="fa fa-plus-circle" aria-hidden="true" (click)="d('Cross click')" (click)="chooseImage(image.IdUrl,6)"></i>
          </a>
        </div>
        <img class="image" src='https://drive.google.com/uc?id={{image.IdUrl}}' alt="" />
      </div>
    </div>
    <div *ngIf="!isFolder" class="modal-footer">
      <button class="btn btn-secondary" (click)="backFolder()">
        <i class="fa fa-sign-out" aria-hidden="true"> Back</i>
      </button>
    </div>
  </div>
</ng-template>
<!-- modal import Color -->
<ng-template #importcolor let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fa fa-warning"></i> Color Library?</h4>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="images-container">
      <div class="image-container" *ngFor="let color of colorposts">
        <div class="controls">
          <a>
            <i class="fa fa-plus-circle" aria-hidden="true"  (click)="chooseColor(color)"></i>
          </a>
        </div>
        <div class="image" [ngStyle]="{'background':color.ValueHex}">
            <p>{{color.ColorName}}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="d('Cross click')">
          <i class="fa fa-sign-out" aria-hidden="true"> Close</i>
        </button>
      </div>
  </div>
</ng-template>