@import url("font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700");

	ol, ul {
		list-style: none;
	}
/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
/* Icons */

	.icon {
		position: relative;
		padding: 0.5em;
	}
	.icon > a mat-icon{
		text-decoration: none;
	}
	.icon >a mat-icon:hover {
		color: #FFC400
	}

/* Nav */

	#nav > ul > li > ul {
		display: none;
	}

	#nav ul {
		margin: 0;
	}

	#nav li {
		border-top: solid 1px rgba(0, 0, 0, 0.25);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
		padding: 0.5em 0 0.5em 0;
	}

		#nav li:first-child {
			border: 0;
			box-shadow: none;
			padding-top: 0;
		}

		#nav li:last-child {
			padding-bottom: 0;
		}

		#nav li a {
			display: block;
			padding: 0.4em 1em 0.4em 1em;
			text-decoration: none;
			border-radius: 0.4em;
			outline: 0;
			-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			transition: background-color .25s ease-in-out, color .25s ease-in-out;
		}

		#nav li a mat-icon{
			padding-right: 1.5em;
			text-decoration: none;
			font-size: 1.2em;
			border-radius: 0.4em;
		}
		#nav li.current a {
			background-color: #272E39 !important;
			background-color: rgba(0, 0, 0, 0.15) !important;
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
			font-weight: 700;
			color: #fff;
		}
		#nav li:hover a {
			background-color: rgba(255, 255, 255, 0.1);
            color: #FFC400;
            -webkit-box-shadow:0 0.1em 0.1em rgba(0,0,1,5)
		}

/* Sidebar */

	#titleBar {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		display: none;
		height: 3em;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
        background: #242424 url("../images/bg-noise.jpg");
        -webkit-box-shadow:0 0.2em 0.1em rgba(0,0,1,5)
	}

		#titleBar .title {
			display: block;
			color: #fff;
			line-height: 2.6em;
			font-size: 1.25em;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 700;
			letter-spacing: 0.1em;
			text-shadow: -1px -1px 0px rgba(29, 29, 29, 0.5);
			box-shadow: 0px 1px 4px 0px rgba(37, 37, 37, 0.25);
			text-align: center;
		}

			#titleBar .title a {
				color: inherit;
				text-decoration: none;
			}

		#titleBar .toggle {
			width: 80px;
			height: 60px;
			position: absolute;
			top: 0;
			left: 0;
		}

			#titleBar .toggle:before {
				font-family: FontAwesome;
				text-decoration: none;
				font-style: normal;
				font-weight: normal;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\f0c9';
				display: block;
				position: absolute;
				top: 7px;
				font-size: 14px;
				width: 50px;
				height: 30px;
				line-height: 30px;
				background: #c94663 url("images/bg01.png");
				border-radius: 5px;
				color: #fff;
				text-align: center;
				box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0em rgba(0, 0, 0, 0.25);
				text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
				left: 7px;
			}

			#titleBar .toggle:active:before {
				background-color: #d95673;
			}

	#sidebar {
		color: #aaa;
		text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
        width: 14em;
		padding: 3em 1.5em 1em 1.15em;
		background: rgba(0,0,0,1) url("../images/bg-noise.jpg");
		box-shadow: inset -1em -0.5em 1em 0.1em rgba(0, 0, 0, 0.15);
	}

		#sidebar form input, #sidebar form select, #sidebar form textarea {
			border: 0;
		}

		#sidebar section, #sidebar nav {
			position: relative;
			margin: 2em 0 0 0;
			font-size: 0.9em;
		}

			#sidebar section:before, #sidebar nav:before {
				content: '';
				border-top: solid 1px;
				border-bottom: solid 1px;
				border-color: #171E29;
				border-color: rgba(0, 0, 0, 0.25);
				box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
				display: block;
				height: 0.5em;
				margin: 0 0 2em 0;
			}

		#sidebar strong, #sidebar b {
			color: #fff;
		}

		#sidebar a {
			color: #d4dde0;
		}

		#sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6 {
			color: #fff;
		}

		#sidebar header {
			margin: 0 0 1.25em 0;
		}

/* Content */

	#content {
		margin: 3em 3em 0 0em;
	}

		#content > .inner {
            z-index: 1;
			width:100%;
		}
		#content > .inner p{
           color: #fff;
        }
        #content > .inner .title{
		height: 3em;
		margin-bottom: 2em;
		width: 100%;
		z-index: 10001;
        background: #242424;
        text-align: center;
        -webkit-box-shadow:0 0.1em 0.2em rgba(0,0,0,.3);
        }
        #content > .inner .title h2{
            font-family: "UTMHelvetIns";
            padding: 0.1em;
            font-size:1.8em;
            color:#fff;
            text-shadow:1px 4px 5px rgba(0,0,0,.8)
			}
			#content > .inner .components{
				background: #242424;
				padding: 1em;
				margin-bottom: 1.2em;
				-webkit-box-shadow:0 0.1em 0.2em rgba(0,0,0,.3);
				}
				ol.progtrckr {
					margin: 0;
					padding: 0;
					list-style-type: none;
					margin-bottom:1em;
				}
				
				ol.progtrckr li {
					display: inline-block;
					text-align: center;
					line-height: 3.5em;
				}
				
				ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
				ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
				ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
				ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
				ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
				ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
				ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
				ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }
				
				ol.progtrckr li.progtrckr-done {
					color: rgb(255, 255, 255);
					border-bottom: 4px solid yellowgreen;
				}
				ol.progtrckr li.progtrckr-todo {
					color: #ff7979; 
					border-bottom: 4px solid #ff7979;
				}
				
				ol.progtrckr li:after {
					content: "\00a0\00a0";
				}
				ol.progtrckr li:before {
					position: relative;
					bottom: -2.5em;
					float: left;
					left: 50%;
					line-height: 1em;
				}
				ol.progtrckr li.progtrckr-done:before {
					content: "\2713";
					color: white;
					background-color: yellowgreen;
					height: 2.2em;
					width: 2.2em;
					line-height: 2.2em;
					border: none;
					border-radius: 2.2em;
				}
				ol.progtrckr li.progtrckr-todo:before {
					content: "\00a0";
					color: #ff7979;
					background-color: #ff7979;
					height: 2.2em;
					width: 2.2em;
					line-height: 2.2em;
					border: none;
					border-radius: 2.2em;
				}
				#content > .inner .components h1
				{
				   font-family: "UTMDaxMedium";
				   font-size:1.3em;
				   padding-bottom: 0.5em;
				   color:#9ED2DA;
				   border-bottom:0.15em solid #2C2B2B;
				} 
				.shopbag
				{
				   min-height: 5em;
				   margin-bottom: 1em;
				   -webkit-box-shadow:0 0.1em 0.2em rgba(0,0,0,.3);
				}
				.shopbag .phone
				{
					margin-left:1%;
					float: left;
				}
				.shopbag .phone p
				{
					font-family: "UTMHelvetIns";
					color: #CFB1B1;
					font-size:1.2em;
					margin-bottom: 0.1em;
				}
				.shopbag .phone h1
				{
					font-family: "UTMDaxMedium";
					color: #A3A2A2;
					font-size:0.8em;
					margin-top: 0;
				}
				.shopbag .total
				{
					font-family: "UTMHelvetIns";
					margin-bottom: 0.1em;
					text-align: right;
					border-top: 0.15em solid #2C2B2B;
					padding-right: 10%;
				}
				.shopbag .total p
				{
					color: #f7f79e;
					font-size:1.2em;
				} 
				.shopbag .total .sale
				{
					color: #fd7d7d;
					font-size:1em;
					text-decoration: line-through;
				} 
				.shopbag img
				{
					float: left;
					margin-left: 1em;
					width: 3em;
					height: 3em;
				} 
				.shopbag .info
				{
					margin-left:10%;
					float: left;
				} 
				.shopbag .info p
				{
					font-family: "UTMHelvetIns";
					color: #CFB1B1;
					font-size:1.2em;
					margin-bottom: 0.1em;
					display: block;
					width: 9em;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				} 
				 .shopbag .info h2
				{
					font-family: "UTMDaxMedium";
					color: #A3A2A2;
					font-size:0.8em;
					margin-top: 0;
					width: 9em;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				} 
				.shopbag .info h3
				{
					font-family: "UTMDaxMedium";
					color: #A3A2A2;
					font-size:0.8em;
					margin-top: 0;
					width: 9em;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				} 
				.shopbag .price
				{
					margin-top: 0.5em;
					margin-left: 20%;
					float: left;
				}
				.shopbag .price p
				{
					color: #fff;
					margin-top: 0;
				}
				.shopbag .price .sale
				{
					color: #949494;
					font-size:0.75em;
					text-decoration: line-through;
					padding-top: 0;
				}
				.shopbag .quarity
				{
					margin-top: 0.5em;
					margin-left: 10%;
					float: left;
				} 
				.shopbag .quarity .bnt-ji
				{	margin-left: 0.5em;
					margin-right: 0.5em;
				} 
				 .shopbag .quarity input
				{
					width: 3em;
					height: 2em;
					background: #292929;
					text-align: center;
					color: #fff;
					border: #464646;
				} 

				.shopbag .action
				{
					margin-right: 1em;
					padding-left: 1em;
					float: right;
				} 
				.shopbag .action button
				{
					margin: 0.5em 0em 0em 0.2em;
					width:2em;
					height: 2em;
					text-align: center;
					background:none;
					border:none;
					color: #caeaee;
				} 
				#content > .inner .components .listcatalog .action button:hover
				{
					color: #fce72a;
				} 


				#content > .inner .components .listcatalog
				{
				   min-height: 3.5em;
				   margin-bottom: 1em;
				   -webkit-box-shadow:0 0.1em 0.2em rgba(0,0,0,.3);
				}
				#content > .inner .components .listcatalog img
				{
					float: left;
					margin-left: 1em;
					width: 3em;
					height: 3em;
				} 
				#content > .inner .components .listcatalog table table-striped
				{
					background: rgba(0,0,0,.3);
					color: #fff;
				} 
				#content > .inner .components .listcatalog table
				{
					background: none;
					color: #fff;
				} 
				#content > .inner .components .listcatalog .namecatalog
				{
					margin-left: 2em;
					float: left;
				} 
				#content > .inner .components .listcatalog .namecatalog p
				{
					font-family: "UTMHelvetIns";
					color: #CFB1B1;
					font-size:1.2em;
					margin-bottom: 0.1em;
				} 
				#content > .inner .components .listcatalog .namecatalog h2
				{
					font-family: "UTMDaxMedium";
					color: #A3A2A2;
					margin-top:0.5em;
					font-size:0.8em;
					margin-top: 0;
				} 
				#content > .inner .components .listcatalog .namecatalog h3
				{
					font-family: "UTMDaxMedium";
					color: #A3A2A2;
					margin-top:0.5em;
					font-size:0.8em;
					margin-top: 0;
				} 
				#content > .inner .components .listcatalog .numberproduct
				{
					margin-top: 0.5em;
					margin-left: 30%;
					float: left;
				} 
				#content > .inner .components .listcatalog .price
				{
					margin-top: 0.5em;
					margin-left: 20%;
					float: left;
				} 
				#content > .inner .components .listcatalog .quarity
				{
					margin-top: 0.5em;
					margin-left: 10%;
					float: left;
				} 
				#content > .inner .components .listcatalog .action
				{
					margin-right: 1em;
					padding-left: 1em;
					float: right;
				} 
				#content > .inner .components .listcatalog .action button
				{
					margin: 0.5em 0em 0em 0.2em;
					width:2em;
					height: 2em;
					text-align: center;
					background:none;
					border:none;
					color: #caeaee;
				} 
				#content > .inner .components .listcatalog .action button:hover
				{
					color: #fce72a;
				} 
				#content > .inner .components a
				{
					font-family: "UTMDaxMedium";
					font-size:0.9em;
					padding-bottom: 0.5em;
					color:#CBEBF0;
					border-bottom:0.15em solid #2C2B2B;
					text-decoration: none;
		
				} 
				#content > .inner .components a li
				{
					padding: 0.7em;
					list-style: none;
					width: 100%;
					height: 3em;
					text-align: center;
					background: #292929;
				} 
				#content > .inner .components a li.animate
				{
					background: #333333;
					box-shadow:0 1em 0.1em rgba(0,0,0,1);
					-moz-box-shadow:0 0.2em 0.1em rgba(0,0,0,.3);
					-webkit-box-shadow:0 0.1em 0.1em rgba(0,0,1,5);
					-webkit-transition:  100ms ease-out; 
					-moz-transition:  100ms ease-out; 
					-o-transition:  100ms ease-out; 
					transition:  100ms ease-out; 
				} 
				#content > .inner .components a li.animate:hover
				{
					color: #FFE600;
				} 
         #content > .inner .body
         {
             width: 69%;
             float: left;
         } 
         #content > .inner .body .components
         {
             background: #242424;
             padding: 1em;
             margin-bottom: 1.2em;
             -webkit-box-shadow:0 0.1em 0.2em rgba(0,0,0,.3);
         } 
         #content > .inner .body .components h1
         {
            font-family: "UTMDaxMedium";
            font-size:1.3em;
            padding-bottom: 0.5em;
            color:#9ED2DA;
            border-bottom:0.15em solid #2C2B2B;
		 } 
		 #content > .inner .body .components input
         {
			-webkit-box-shadow:0 0.1em 0.2em rgba(0,0,0,.3);
			color: rgb(0, 0, 0);
         } 
         #content > .inner .rightbody
         {
             width: 29%;
             float: right;
         } 
         #content > .inner form{
         }
         #content > .inner button
         {
           float: right;
         } 
         #content > .inner .rightbody .components
         {
             background: #242424;
             padding: 1em;
             margin-bottom: 1.2em;
             -webkit-box-shadow:0 0.1em 0.2em rgba(0,0,0,.3);
         } 
         #content > .inner .rightbody .components h1
         {
            font-family: "UTMDaxMedium";
            font-size:1.3em;
            padding-bottom: 0.5em;
            color:#9ED2DA;
            border-bottom:0.15em solid #2C2B2B;
		 } 
		 #content > .inner .rightbody .components input
		 {
			 background: #292929;
			 color: #fff;
			 border: #464646;
		 } 
		 #content > .inner .rightbody .proceed
		 {
			 background: #e0af0b;
			 color: #fcfcfc;
		 } 
/* Copyright */

	#copyright {
		padding-bottom: 2em;
	}

		#copyright p {
			opacity: 0.75;
		}

		#copyright a {
			color: inherit !important;
		}

		#copyright:before {
			content: '';
			border-top: solid 1px;
			border-bottom: solid 1px;
			border-color: #171E29;
			border-color: rgba(0, 0, 0, 0.25);
			box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
			display: block;
		}

/* Desktop */

	@media screen and (min-width: 737px) {

		/* Basic */

			body {
				height: 100%;
				line-height: 1.75em;
			}

			input, textarea, select {
				line-height: 1.75em;
			}

			h2 {
				font-size: 1.2em;
			}

			h3, h4, h5, h6 {
				font-size: 1em;
			}

	

		

		/* adlogo */

			#adlogo {
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				font-size: 1em;
				letter-spacing: 0.1em;
			}

				#adlogo a {
					display: block;
					background-color: #c94663;
					background-image: url("images/bg01.png");
					padding: 0.875em 0.25em;
					border-radius: 0.2em;
					text-align: center;
					box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0em rgba(0, 0, 0, 0.25);
					text-decoration: none;
					color: #fff;
				}

		/* Sidebar */

			#sidebar {
				position: absolute;
			}

		/* Copyright */

			#copyright {
				margin: 2em 0 0 0;
				text-align: center;
			}

				#copyright p {
					font-size: 0.8em;
					line-height: 2em;
				}

				#copyright:before {
					height: 0.5em;
					margin: 0 0 2em 0;
				}

	}

/* Wide */

	@media screen and (min-width: 1201px) {

		/* Basic */

			body {
				min-width: 1200px;
				font-size: 12pt;
			}

			input, textarea, select {
				font-size: 12pt;
			}

	

	}

/* Narrow */

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		/* Basic */

			body {
				min-width: 1000px;
				font-size: 11pt;
			}

			input, textarea, select {
				font-size: 11pt;
			}

	
	}

/* Narrower */

	@media screen and (min-width: 737px) and (max-width: 1000px) {

		/* Basic */

			body {
				min-width: 641px;
				font-size: 14pt;
			}

			input, textarea, select {
				font-size: 14pt;
			}

		/* adlogo */

			#adlogo {
				display: none;
			}

		/* Nav */

			#nav {
				margin-top: 0 !important;
			}

				#nav:before {
					display: none !important;
				}

				#nav li:hover a {
					background: none;
				}

		/* Sidebar */

			#sidebar {
				padding: 30px 20px 30px 20px;
			}

	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 11pt;
				letter-spacing: 0;
			}

			h2, h3, h4, h5, h6 {
				font-size: 1.5em;
			}

	
		/* adlogo */

			#adlogo {
				display: none;
			}

		/* Nav */

			#nav {
				margin-top: 0 !important;
			}

				#nav:before {
					display: none !important;
				}

				#nav li:hover a {
					background: none;
				}

		/* Content */

			#content {
				margin-top: 44px;
				padding: 3em 20px 2em 20px;
			}

		/* Sidebar */

			#sidebar {
				padding: 20px 12px 20px 10px;
				box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.15), inset -0.1em 0 0.5em 0 rgba(0, 0, 0, 0.25);
			}

		/* Copyright */

			#copyright {
				margin: 2em 0 0 0;
				text-align: center;
			}

				#copyright p {
					font-size: 0.9em;
					line-height: 2em;
				}

				#copyright:before {
					height: 0.5em;
					margin: 0 0 2em 0;
				}

	}

/* Off-Canvas Sidebar */

	@media screen and (max-width: 1000px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

	

		/* Sidebar */

			#titleBar {
				display: block;
			}

			#sidebar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100% !important;
				min-height: 0 !important;
				overflow-y: auto;
				position: fixed;
				top: 0;
				z-index: 10002;
				-moz-transform: translateX(-14em);
				-webkit-transform: translateX(-14em);
				-ms-transform: translateX(-14em);
				transform: translateX(-14em);
			}

			body.sidebar-visible #content, body.sidebar-visible #titleBar {
				-moz-transform: translateX(14em);
				-webkit-transform: translateX(14em);
				-ms-transform: translateX(14em);
				transform: translateX(14em);
			}

			body.sidebar-visible #sidebar {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

	}