/* general demo style */
@font-face {
	font-family: UTMAmerikaSans;
    src: url(../fonts/UTMAmerikaSans.ttf);
}
@font-face {
	font-family: UTMHelvetIns;
    src: url(../fonts/UTM_HelvetIns.ttf);
}
@font-face {
	font-family: UTMAptima;
    src: url(../fonts/UTMAptima.ttf);
}
@font-face {
	font-family: UTMAptimaBold;
    src: url(../fonts/UTMAptimaBold.ttf);
}
@font-face {
	font-family: UTMDaxMedium;
    src: url(../fonts/UTMDaxMedium.ttf);
}
@font-face {
	font-family: UTMDax;
    src: url(../fonts/UTMDaxBold.ttf);
}
@font-face {
	font-family: UTMDaxBold;
    src: url(../fonts/UTMDaxBold.ttf);
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/FontAwesome.eot?v=4.7.0');	font-weight: normal;
	font-style: normal;
  }

  body, html { font-size: 100%; 	padding: 0; margin: 0;}
  body {
      font-family:'roboto condensed',arial,helvetica,
      sans-serif;
      font-weight:400;
      font-size:1em;
      background:#eeeeee;
  }
/* reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* clearfix hack by nicolas gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

/* menu1 */
/***** top menu *****/

.navbar {
	background:rgba(0,0,0,1);
	border-bottom:0.1em solid #282828;
	box-shadow:0 0.1em 0.5em rgba(0,0,0,.3);
	-moz-box-shadow:0 0.1px 0.5em rgba(0,0,0,.3);
	-webkit-box-shadow:0 0.1em 0.5em rgba(0,0,0,.3);
	width:100%;
	z-index:9999;
	height:8em;
}

.navbar-toggle {
	margin-top: 2em;
	margin-bottom: 2em;
}

.titleheader > div{
	font-weight: 700;
	padding: 5em 16em;
	color: #000;
	font-size:2em;
	display: inline-block;
	text-decoration: none;
}
/*menu*/
img {
	width: 100%;
	height: auto;
}
.responsive-img {
	display: block;
	max-width: 100%;

}


.cbp-hrsub h4 {
	color: #afdefa;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}
.slider img {
	width:100%;
	height:48em;
}
.social > div {
	text-align:center
}
.social > div h1 {
	font-family: "UTMHelvetIns";
	padding: 1em;
	font-size:3.2em;
	color:#fff;
	text-shadow:1px 4px 5px rgba(0,0,0,.8)
}
.social > li{
	margin: 0 10% 0;
}
.social > div img {
	width: 17%;
	height: 75%;
	margin: 1em 1em 1em;
	box-shadow:0 0.5em 0.5em rgba(0,0,0,1);
	-moz-box-shadow:0em 0.5em 0.5em rgba(0,0,0,.3);
	-webkit-box-shadow:0.5em 0.5em 1em rgba(0,0,1,5);
}


#style-scrollbar::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: none;
}

#style-scrollbar::-webkit-scrollbar
{	width: 12px;
    background-color: none;
}

#style-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #2b2b2b;
}
.leftbody
{
    padding-left: 5%;
    float: left;
    width: 20%;
}
.rightcontent
{
    padding-right: 2%;
    float: left;
    width: 78%;
}
.sidebarclient{
    padding: 1em;
}
.init{
    margin-bottom: 1.5em;
    margin-top: 7em;
}

.sidebarclient .components{
    padding-bottom: 3em;
    margin-bottom: 1.5em;
    border-bottom:0.2em solid #282828;
    max-height: 20em;
    min-width: 10em;
    float: left;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
}
.sidebarclient .components .title{
    font-family: "UTMHelvetIns";
    font-size:1.1em;
    color:#fff;
    text-shadow:1px 2px 5px rgba(0,0,0,.8);
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.sidebarclient .components >ul{
    margin-left: 0.5em;
}
.sidebarclient .components >ul :hover{
    color: #f3ac00;
}
.sidebarclient .components >ul > input{
    float: left;
    width:1.1em;
    height:1.1em;
    margin-right: 0.5em;
}
.sidebarclient .components >ul > p{
    text-transform: capitalize;
    font-size: 0.9em;
    color: #ffffff;
}
.sidebarclient .components >.size{
    margin-top:0.5em;
}
.sidebarclient .components >.size button{
    text-align: center;
    width: 3em;
    height: 3em;
    text-decoration: none;
    background: #424242;
    float: left;
    margin: 0.1em;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #ffffff;
}
.sidebarclient .components >.size>button:hover{
    background: #575757;
    color: #f3ac00;
}

.rightcontent .title
{ 
    text-transform: capitalize;
    font-family: "UTMHelvetIns";
    font-size:2em;
    color:#fff;
    text-shadow:1px 2px 5px rgba(0,0,0,.8);
    display: inline-block;
    text-decoration: none;
}
.rightcontent .numberresult
{ 
    font-family: "UTMDax";
    font-size:1em;
    color:#fff;
    text-shadow:1px 2px 5px rgba(0,0,0,.8);
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0.5em;
}
.listproduct {
    float: left;
    font-family: "UTMAptimaBold";
    list-style: none;
    padding-bottom: 2em;
    margin: 2em 2em;
    width: 100%;
}
 .listproduct .pagepagin {
    color: #ffffff;
    font-size: 1.5em;
    text-align: right;
}
.listproduct a {
    position: relative;
    width: 14em;
    height:22em;
    color: #ffffff;
    padding: 2em;
    margin: 1em 1em 1em 1em;
    font-size: 0.9em;
    float: left;
    text-align: center;
    text-decoration: none;
}
.listproduct a:hover {
    background:url(../images/bg-cat-product-hover.jpg) #282828;
    background-size: 14em 18em;
    box-shadow:0 2em 0.9em rgba(0,0,0,1);
    -moz-box-shadow:0 1em 0.5em rgba(0,0,0,.3);
    -webkit-box-shadow:0 0.5em 1em rgba(0,0,1,5);
    color: #f3ac00;
}
.listproduct a:hover .showaction{
    display: block;
}
.showaction{
    position: absolute;
    width: 10em;
    display: none;
    text-align: center;
}
.showaction>.description{
    font-size: 1em;
    color: #929292;
    width: 11em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.showaction >button{
    margin-top: 0.7em;
    border-top:0.1em solid #444343;
    height: 2.5em;
    width: 7.5em;
    background: #b48400;
    color: #ffffff;
}
.showaction >button:hover{
    background: #dfa402;
    color: #2736fd;
}
.listproduct a >img{
width: 9em;
height:9em;
}
 .listproduct a >.nameproduct{
    font-size: 1em;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0.5em;
    display: block;
    width: 11em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.listproduct a >.price{
    color: #929292;
    text-transform: uppercase;
    font-family: UTMDaxMedium;
}
.listproduct a > ul {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 99;
    left: 0;
    list-style: none;
    box-sizing: border-box;
}

.listproduct a > ul:before,
.listproduct a > ul:after {
    content: "";
    display: table;
}

.listproduct a > ul:after {
    clear: both;
}

.listproduct a > ul>.sizeproduct{
    font-size: 0.8em;
    margin-top: 0.7em;
    border-top:0.1em solid #444343;
    color: #ffffff;
}

.menubodytop{
    text-align:center;
    width:100%;
    height:15em;
}

.bodycontent{
    padding: 1em 1em 1em 1em;
    -webkit-box-shadow:0em 0.3em 1.2em rgba(0,0,0,1);
}
.leftside{
    width:18;
    float: left;
}
.rightbody{
    width:82%;
    float: right;
}
.fullbody{
    width:100%;
}
.social{
    width: 100%;
    height: 32em;
    -moz-box-shadow:0em 0.5em 0.5em rgba(0,0,0,.3);
    -webkit-box-shadow:0em 0.5em 1em rgba(0,0,1,5);
}
table{
    color:#fafafa;
    margin:1em;
}
tr{
    border-bottom:0.1em solid #2C2B2B;
    height: 5em;
    text-align: left;
}
td p {
    margin-top: 1em;
    text-transform: uppercase;
}
td img {
    width: 4em;
    height: 4em;
}
td button {
    width: 2em;
    height: 2em;
    margin-top: 1em;
}
.topproduct{
    width:100%;
    height:25em;
    margin-top: 5em;
    border-bottom:0.1em solid #282828;
    -moz-box-shadow:0em 0em 0em rgba(0,0,0,.3);
    -webkit-box-shadow:0em 0.1em 0.2em rgba(0,0,0,1);
}
/*[truong.nguyen][menu]:Menu chính của trang web*/
#menu-container {
    position: fixed;
    background:rgb(29, 28, 28);
    width:100%;
    z-index:9999;
    height:6em;
    -webkit-box-shadow:0em 0.5em 0.4em rgb(41, 40, 40);
}
#menu-container .logo {
    float: left;
    list-style: none;
    width: auto;
    height: auto;
    margin: 0 auto;
}
/*[truong.nguyen][menu right]:Menu bên phải của trang web*/
#menu-container #menuright {
    float: right;
}
#menu-container #menuright >li{
    float: right;
    list-style: none;
    margin-top: 3.8em;
    margin-right: 1em;
}
#menu-container #menuright >li a{
    font-family: "UTMDaxBold";
    font-size:0.8em;
    color:#fff;
    display: block;
    text-decoration: none;
}
#menu-container #menuright >li a:hover{
    color: #f3ac00;
}
/*[truong.nguyen][menu right]:menu phải quản lý chức năng  vd: quà tặng, người dùng, logout, kiểm tra đơn hàng*/
#menu-container #menuright >li > ul {
    display: none;
    width: 15em;
    background: #302f2f;
    padding: 2em;
    position: absolute;
    z-index:99;
    right: 2em;
    list-style: none;
    box-sizing: border-box;
    -moz-box-shadow:0em 0.5em 0.5em #1a1919;
    -webkit-box-shadow:0em 0.5em 0.5em #1a1919;
}

#menu-container #menuright >li > ul:before,
#menu-container #menuright >li > ul:after {
    content: "";
    display: table;
}

#menu-container #menuright >li > ul:after {
    clear: both;
}

#menu-container #menuright >li > ul > li {
    font-family: "UTMAptimaBold";
    list-style: none;
    background: none;
    padding-bottom: 1.5em;
    border-bottom:0.1em solid #2c2c2c;
}
#menu-container #menuright >li > ul > li a {
    color: #ffffff;
    padding-bottom: 1em;
    width: 95%;
    display: block;
    font-size: 0.9em;
}
#menu-container #menuright >li > ul > li button {
    color: #fff;
    background: #c59100;
}
#menu-container #menuright >li > ul > li a p {
float: left;  
margin-left: 0.7em;
}
#menu-container #menuright >li > ul > li a mat-icon {
    float: left;
}

/*[truong.nguyen][menu search]:tìm kiếm trên menu*/
#menu-container #menuright .search {
    float: right;
    list-style: none;
    margin-top: 3.8em;
    margin-right: 1em;
}
#menu-container #menuright .search >ul {
    display: none;
    width: 100%;
    height: 30em;
    background:#272727;
    position: absolute;
    z-index: 99;
    left: 0;
    list-style: none;
    -moz-box-shadow:0em 0.5em 0.5em rgba(75, 74, 74, 0.3);
    -webkit-box-shadow:0em 0.5em 0.5em rgb(41, 40, 40);
}

#menu-container #menuright .search>ul:before,
#menu-container #menuright .search >ul:after {
    content: "";
    display: table;
}

#menu-container #menuright  .search >ul:after {
    clear: both;
}
#menu-container #menuright .search > ul > .col-lg-12{
    font-family: "UTMAptimaBold";
    list-style: none;
    margin-top: 2em;
}
#menu-container #menuright .search > ul > .product {
    float: left;
    opacity:none;
    font-family: "UTMAptimaBold";
    list-style: none;
    background: none;
    padding-bottom: 1.5em;
    width: 95%;
    margin: 1em 1em;
    height: 22em;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
}
#menu-container #menuright .search  > ul > .product .title {
    color: #ffffff;
    text-shadow:1px 2px 5px rgba(0,0,0,.8);
    padding-bottom: 0.5em;
    width: 80%;
    display: block;
    font-size: 1.5em;
    margin-left: 1em;
    text-transform: uppercase;
    border-bottom:0.1em solid #2c2c2c;
    -webkit-box-shadow:0em 0.05em 0.05em rgb(41, 40, 40);
    text-align: center;
}
#menu-container #menuright .search  > ul > .product a {
    color: #ffffff;
    padding: 2em;
    display: block;
    font-size: 0.9em;
    float: left;;
    text-align: center;
}
#menu-container #menuright .search  > ul > .product a:hover {
    background: #272727;
    box-shadow: 0em 0.05em 0.05em #a8a8a8;
    -webkit-box-shadow:0.1em 0.2em 0.1em rgba(0,0,1,5);
}
#menu-container #menuright .search  > ul > .product a >img{
width: 8em;
height: 9em;
}
#menu-container #menuright .search  > ul > .product a >.nameproduct{
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0.5em;
    display: block;
    width: 11em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#menu-container #menuright .search  > ul > .product a >.nameproduct:hover {
    color: #f3ac00;
    font-size: 1em;
}
/*[truong.nguyen][menu cart]:menu giỏ thàng*/
#menu-container #menuright .cart {
    float: right;
    list-style: none;
    margin-top: 3.8em;
    margin-right: 1em;
}
#menu-container #menuright .cart a{
    font-size:0.8em;
    color:#fff;
    display: block;
    text-decoration: none;
}
#menu-container #menuright .cart a:hover{
    color: #f3ac00;
}
#menu-container #menuright .cart >ul {
    float: right;
    display: none;
    width: 23em;
    max-height: 27em;
    background:#302f2f;
    position: absolute;
    z-index: -90;
    right: 4em;
    padding: 1.2em;
    list-style: none;
    -moz-box-shadow:0em 0.5em 0.5em #1a1919;
    -webkit-box-shadow:0em 0.2em 0.5em #1a1919;
}

#menu-container #menuright .cart>ul:before,
#menu-container #menuright .cart >ul:after {
    content: "";
    display: table;
}
/* tổng tiền */
#menu-container #menuright .cart >ul > .total {
    margin-top:1em;
    font-family: "UTMDaxBold";
    font-size: 1.2em;
    color: #f3ac00;
    text-align: center;
}
/* button checkout*/
#menu-container #menuright .cart >ul > .checkout {
    margin-top:0.5em;
    height: 2.5em;
    border-radius:0.5em 0.5em;
    background: #cc8f00;
    text-align: center;
}
#menu-container #menuright .cart >ul > .checkout a {
    margin-top:0.1em;
    font-family: "UTMDaxBold";
    text-transform: uppercase;
    font-size: 1.2em;
    text-shadow:0.1em 0.5em 0.5em #181818cc;
    color: #ffffff;
}
#menu-container #menuright .cart >ul > .checkout:hover {
    -moz-box-shadow:0em 0.5em 0.5em #1a1919;
    -webkit-box-shadow:0em 0.5em 0.5em #1a1919;
    background: #ffaf03;
}

/*tiêu đề giỏ hàng */
#menu-container #menuright .cart >ul >.title{
    color: #ffffff;
    text-transform: uppercase;
    font-family: "UTMAptimaBold";
    font-size: 1.5em;
    border-bottom:0.1em solid #292929;
    padding-bottom:0.5em;
    text-shadow:1px 2px 5px rgba(0,0,0,.8);
}
/* button xóa tất cả hàng trong giỏ hàng */
#menu-container #menuright .cart >ul >.title>.btn_clean{
    float: right;
    color: #929292;
    font: 1em;
}
#menu-container #menuright .cart >ul >.title>.btn_clean a{
    text-transform: lowercase;
    color: #929292;
    font: 0.5em;
    list-style: none;
}
/*[truong.nguyen][item cart]:menu giỏ thàng*/
#menu-container #menuright .cart >ul > .item {
    max-height: 15em;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
}
#menu-container #menuright .cart >ul > .item> li {
    list-style: none;
    background: none;
    padding-top: 1em;
    padding-bottom: 7em;
    border-bottom:0.15em solid #292929;
    -moz-box-shadow:0em 0.1em 0.1em #3a3a3a;
    -webkit-box-shadow:0em 0.1em 0.1em #3a3a3a;
}
#menu-container #menuright .cart >ul > .item> li a {
    color: #ffffff;
    display: block;
    list-style: none;
}
#menu-container #menuright .cart >ul > .item > li a img {
    float: left;
    width:7em;
    height: 7em;
}
#menu-container #menuright .cart >ul > .item > li a .buttonaction{
    float: right;
}
#menu-container #menuright .cart >ul > .item > li a .titleproduct {
    float: left;
    margin-left: 1.2em;
}
#menu-container #menuright .cart >ul > .item > li a .titleproduct .nameproduct{
    text-transform: capitalize;
    font-family: "UTMAptimaBold";
    font-size: 1.2em;
    display: block;
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
#menu-container #menuright .cart >ul > .item > li a .titleproduct .description{
    color: #b4b3b3;
    text-transform: lowercase;
    font-size: 1.2em;
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#menu-container #menuright .cart >ul > .item > li a .titleproduct .price{
    text-transform: lowercase;
    font-size: 1.2em;
    color: #beb6aa;
}
#menu-container #menuright .cart >ul > .item > li a .titleproduct .quantity{
    text-transform: lowercase;
    font-size: 1.2em;
    color: #beb6aa;
}
/*thành phần menu*/
.menu > ul {
    list-style: none;
    font-family: "UTMDaxBold";
    font-size:1em;
    color:#fff;
    display: inline-block;
    text-decoration: none;
    margin-top: 4.1em;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding:0 0.7em;
    display: block;
    text-transform: uppercase;
}
.menu > ul > li > .sale {
    text-decoration: none;
    padding:0 0.7em;
    display: block;
}
.menu > ul > li > .sale a {
    text-transform: uppercase;
    color:#FF0000;
}
.menu > ul > li a:hover {
    color: #f3ac00;
}
.menu > ul > li:hover {
    height:2em;
    margin-bottom: 1.7em;
    background: #282828;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #282828;
    padding: 2em;
    position: absolute;
    z-index: 99;
    left: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    font-family: "UTMAptimaBold";
    list-style: none;
    background: none;
    float: left;
    padding-left: 1.3em;
    border-left:0.1em solid #333;
}
.menu > ul > li > ul > li a {
    text-transform: uppercase;
    color: #ffffff;
    padding: .2em 0;
    width: 95%;
    display: block;
    font-size: 1.3em;
}
.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    font-family: "UTMAptima";
    float: left;
    width: 100%;
    padding: 0.1em 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    text-transform: lowercase;
    color: #ffffff;
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}

/* menu khi trở về chế độ mobile*/
#menu-container #menuright .menu-mobile {
    list-style: none;
    display: none;
}
#menu-container #menuright .menu-mobile:after {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    color: #FFFFFF;
}
.topheader {
    position:absolute;
    background:rgba(0,0,0,1);
    width:100%;
    z-index:9999;
    height:8em;
}
.topheader .logo {
    float: left;
    list-style: none;
    width: 14%;
    margin: 0 auto;
    padding: 0.8em 0.2em 0em 2em;
}
.topheader .menuright {
    float: right;
}
.topheader .menuright >li{
    float: right;
    list-style: none;
    margin-top: 6.5em;
    margin-right: 2em;
}
.topheader .menuright >li a{
    font-family: "UTMHelvetIns";
    font-size:1.5em;
    color:#fff;
    text-shadow:1px 2px 5px rgba(0,0,0,.8);
    display: inline-block;
    text-decoration: none;
}
.topheader .menuright >li a:hover{
    color: #f3ac00;
}
.topheader .menu {
    list-style: none;
    display: inline-block;
    color: #fff;
    font-size:1.5em;
    margin-top: 4.5em;
}
.topheader .menu >li{
    display: inline-block;
}
.topheader .menu > li > a {
    font-family: "UTMHelvetIns";
    padding: 0em 0.4em;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

.topheader .menu > li > a:hover {
    color: #f3ac00;
}

/*[truong.nguyen][menu body top]: phần menu hiện thị trên body*/
.menubodytop h2{
	font-family: "UTMHelvetIns";
	font-size:3em;
	color:#fff;
	padding:1.5em 0 0.1em;
	text-shadow:1px 2px 5px rgba(0,0,0,.8)
}
.menubodytop ul{
	font-family: "arial";
	font-size:1.1em;
	padding:0.2em 0em 0;
}
	.menubodytop p{
		font-family: "UTMAmerikaSans";
		text-transform: none;
		font-size:0.8em;
		color:#111010;
		padding:0.3em;
		float: left;
	}
	.nav-section-dark{
		border-top:0.1px solid #3d3d3d;
		border-bottom:0.1px solid #3d3d3d;
		padding:0.3em;
		margin:0 auto;
		font-size:1em;
		text-transform:uppercase;width:auto;
		color: #111010;
	}
	.nav-section-dark li{
		display:inline-block
	}
	.nav-section-dark li a{
		text-decoration: none;
		display:block;
        padding:0 0.4em;
        color: #111010;
	}
	.nav-section-dark li a:hover {
		color: #f3ac00;
	}
	.section-white{
		padding:0;
		background:#fff;
		text-align:center
	}
	.section-grey{
		background:#f0f0f0;
		padding:65px 0 50px;
		text-align:center
	}
	.section-category{
		margin:0 0 15px;
		width:1300px;
		display:table-cell
	}
	.page-title{
		margin:0;
		font-size:30px;
		line-height:1
	}
	.search-title-keyword{
		text-transform:none;
		color:#f3ac00;
		font-weight:400
	}

	#slidecontainer {
		width: 100%;
	}
	
	.slider {
		-webkit-appearance: none;
		width: 100%;
		height: 15px;
		border-radius: 5px;
		background: #d3d3d3;
		outline: none;
		opacity: 0.7;
		-webkit-transition: .2s;
		transition: opacity .2s;
	}
	
	.slider:hover {
		opacity: 1;
	}
	
	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #4CAF50;
		cursor: pointer;
	}
	
	.slider::-moz-range-thumb {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #4CAF50;
		cursor: pointer;
	}
	
	
	.btn-remove3,
	.dropdown-icon-info-title,
	.dropdown-icon-title,
	.dropdown-title,
	.nav-side,
	a.btn-remove2,
	li.footer-master-title{
		text-transform:uppercase
	}
	.cat-product-number{
		font-family:oswald,arial,helvetica,sans-serif;
		color:#c8c8c8;
		font-size:18px;
		font-weight:400;
		margin:10px 0 0
	}
	.footer-distributed{
		height: 30em;
		background:url(../images/bg-wood.jpg) #000;
		box-shadow:0 -8px 30px rgba(0,0,0,.5);
		-moz-box-shadow:0 -8px 30px rgba(0,0,0,.5);
		-webkit-box-shadow:0 -8px 30px rgba(0,0,0,.5);
		position:relative;
		-moz-box-shadow:0em 0.5em 0.5em rgba(0,0,0,.3);
		-webkit-box-shadow:0.5em 0.5em 5em rgba(0,0,1,5);
		padding:60px 0 0;
		overflow:hidden;
		width:100%;
		margin:0 auto
	}
	.footer-membership{
		background:url(../images/logo-plus-large.png) 0 0/205px 35px no-repeat rgba(0,0,0,0);
		width:205px;
		height:35px;
		display:inline-block;
		margin:15px 0
	}
	#footer-master-content{
		text-align:center;
		padding:60px 0 0;
		overflow:hidden;
		width:100%;
		margin:0 auto
	}
	.all-width{
		width:100%;
		min-width:20%
	}
	.clearfix:after,
	.clearfix:before{
		content:" ";
		display:table
	}
	#footer-trust-block{display:block;margin:20px auto 100px;text-align:left;width:900px}
	#footer-trust-block img.accepted-cards{width:300px;height:48px}
	#bbblink{margin-left:50px}
	#bbblink img{width:105px;height:40px}
	.nav-footer-master{
		display:inline-block;
		padding:0 15px;
		vertical-align:top;
		text-align:left;
		margin:0 -2px
	}
	.nav-footer-master:first-child{
		padding:0 15px 0 0
	}
	.nav-footer-master:last-child{
		padding:0 0 0 15px
	}
	.nav-footer-master li{
		list-style: none;
		padding:3px 0;
		color:#BBB
	}
	.nav-footer-master li a{
		color:#BBB;
		transition:all .2s ease-in-out!important;
		-webkit-transition:all .2s ease-in-out!important;
		-moz-transition:all .2s ease-in-out!important;
		-o-transition:all .2s ease-in-out!important;
		-ms-transition:all .2s ease-in-out!important
	}
	li.footer-master-title{
		font-size:18px;
		margin:0 0 10px;
		color:#FFF;
		font-family:Oswald,Arial,Helvetica,sans-serif
		}#master-footer-copyright{
			width:100%;
			text-align:center;
			padding:1em 0;
			background:rgba(0,0,0,.4);
			border-top:1px solid rgba(255,255,255,.05);
			margin:0;
			font-size:15px;
			position:absolute;
			bottom:0
		}
		a.footer-social{
			display:inline-block;
			width:45px;
			line-height:45px;
			font-family:snicon;
			font-size:22px;
			background:grey;
			border-radius:50%;
			text-align:center;
			margin:0 5px 10px 0}
			#footer-chat a:before,
			#footer-email a:before,
			#footer-tel:before{
				margin:0 8px 0 0;
				font-family:snicon;
				display:inline-block;
				vertical-align:middle
			}
			a#footer-twitter:before{
				content:"\e615";
				color:#FFF
			}
			a#footer-instagram:before{
				content:"\e614";
				color:#FFF
			}
			a#footer-facebook:before{
				content:"\e613";
				color:#FFF
			}
			a.footer-social:hover{
				background-color:#F3AC00;
				color:#FFF
			}
			.footer-contact{
				font-size:15px}
				#footer-tel:before{
					font-size:18px;
					content:"\e603"
				}
				#footer-email a:before{
					font-size:15px;
					content:"\e602"
				}
				#footer-chat a:before{
					font-size:18px
				}
				#footer-master-copyright{background:rgba(0,0,0,.3);
					text-align:center;
					padding:12px 0;
					font-size:16px;
					color:grey;
					bottom:0;
					border-top:1px solid rgba(255,255,255,.08);
					margin:0
				}
				#footer-master-copyright a:before{
					font-family:snicon;
					font-size:1em;
					padding:0.5em;
					margin:0 0.2em 0 0;
					border-radius:50%;
					content:"\e617";
					background:#DC4A36;
					color:#FFF;
					vertical-align:middle
				}
				.nav-footer-master li a:hover{
					color:#F3AC00
				}
				.blog-detail-share a,
				.site-map-share li a,
				a.footer-social{
					background-color:grey;
					color:#FFF;
					transition:all .2s ease-in-out!important;
					-webkit-transition:all .2s ease-in-out!important;
					-moz-transition:all .2s ease-in-out!important;
					-o-transition:all .2s ease-in-out!important;
					-ms-transition:all .2s ease-in-out!important
				}
				.blog-detail-share a:hover,
				.site-map-share li a:hover,
				a.footer-social:hover{
					background-color:#F3AC00;
					color:#FFF
				}

				/* If you don't want the footer to be responsive, remove these media queries */

				@media (max-width: 880px) {

					.footer-distributed{
						font: bold 14px sans-serif;
					}

					.footer-distributed .footer-left,
					.footer-distributed .footer-center,
					.footer-distributed .footer-right{
						display: block;
						width: 100%;
						margin-bottom: 40px;
						text-align: center;
					}

					.footer-distributed .footer-center i{
						margin-left: 0;
					}

				}
				#space-register{
					position: relative;
					transform-style: preserve-3d;
					transition: transform 5s;
					color: #eeeeee;
					font-size: 80%;
				}
				#space-register.animate{
					margin: 1em 1em 1em 1em;
					background:#313131;
					box-shadow:0 2em 0.9em rgba(0,0,0,1);
					-moz-box-shadow:0 2em 0.5em rgba(0,0,0,.3);
					-webkit-box-shadow:0 1em 3em rgba(0,0,1,5);
					-webkit-transition:  100ms ease-out; 
					-moz-transition:  100ms ease-out; 
					-o-transition:  100ms ease-out; 
					transition:  100ms ease-out; 
					padding: 1em 1em 1em 1em;
				}
				#space-register.animate> h3{
					font-size:1.5em;
					padding: 0.5em;
					text-align: center;
					vertical-align:middle
				}
				#space-register.animate #register-conten{
					padding: 1em;
				}
				#space-login{
					position: relative;
					transform-style: preserve-3d;
					transition: transform 5s;
				}
				#space-login.animate{
					background:#313131;
					position: static;
					box-shadow:0 2em 0.9em rgba(0,0,0,1);
					-moz-box-shadow:0 2em 0.5em rgba(0,0,0,.3);
					-webkit-box-shadow:0 1em 3em rgba(0,0,1,5);
					-webkit-transition:  1000ms ease-out; 
					-moz-transition:  1000ms ease-out; 
					-o-transition:  1000ms ease-out; 
					transition:  1000ms ease-out; 
				}
				#space-login.animate> h3{
					font-size:1.5em;
					padding: 0.5em;
					text-align: center;
					vertical-align:middle
				}
				#space-login.animate #login-conten{
					padding: 1em;
				}
				#register-button-style h3{
					font-family:snicon;
					font-size:1.5em;
					vertical-align:middle
				}
				#register-button-style :hover{
					background-color: #e29200;
				}
				#register-button-style :disabled{
					color:#000;
					background-color: #A4FA33;
				}

				#login-button-style h3{
					font-family:snicon;
					font-size:1.5em;
					vertical-align:middle
				}
				#login-button-style :hover{
					background-color: #FF9900;
				}
				#login-button-style :disabled{
					color:#FFFFFF;
					background-color: #FA3333;
				}
				#register-detail-font{
					font-size: 80%;
					text-transform: none;
				}
				/* examples for media queries */
				@media screen and (max-width: 100em) { 
					img {
						width: 80%;
						height: auto;
					}
					.topheader {
						font-size: 85%;
					}
				}
				@media screen and (max-width: 70em) { 
					img {
						width: 80%;
						height: auto;
					}
					.social > item img {
						width: 15%;
						height: 60%;
					}
					.topheader {
						font-size: 80%;
					}
					@media screen and (max-width: 60em) { 
						img {
							width: 70%;
							height: auto;
						}
						.topheader {
							font-size: 85%;
						}
					}
					@media screen and (max-width: 50em) { 
						.social > item{
							margin: 0 5% 0;
						}
						.topheader {
							font-size: 95%;
							border: none;
						}

						.topheader > ul,
						.topheader .cbp-hrsub-inner {
							max-width: 100%;
							width: 100%;
							padding: 0;
							margin: 0 auto;
							background: #282828;
						}

						.topheader .cbp-hrsub-inner {
							padding: 0 2em;
							font-size: 75%;
						}

						.topheader > ul > li {
							display: block;
							border-bottom: 0.2em solid #282828;
						}

						.topheader > ul > li > a { 
							display: block;
							padding: 1em 3em;
						}

						.topheader .cbp-hrsub { 
							position: relative;
						}
						.cbp-hrsub h4 {
							padding-top: 0.6em;
						}


						#menu-container {
							width: 100%;
						}
						#menu-container #menuright .menu-mobile{
							list-style: none;
							color: #FFFFFF;
							display: block;
						}
						#menu-container #menuright .menu-mobile:hover{
							color: #f3ac00;
						}
						.menu-dropdown-icon:before {
							display: block;
						}
						.menu > ul {
							display: none;
							background: #282828;
							margin-top: 7.8em;
						}
						.menu > ul > li {
							width: 100%;
							float: none;
							display: block;
							list-style: none;
							padding: 1.5em;
						}
						
						.menu > ul > li a {
							width: 100%;
							display: block;
						}
						.menu > ul > li > ul {
							position: relative;
						}
						.menu > ul > li > ul.normal-sub {
							width: 100%;
						}
						.menu > ul > li > ul > li {
							float: none;
							width: 100%;
							margin-top: 20px;
						}
						.menu > ul > li > ul > li:first-child {
							margin: 0;
						}
						.menu > ul > li > ul > li > ul {
							position: relative;
						}
						.menu > ul > li > ul > li > ul > li {
							float: none;
						}
						.menu .show-on-mobile {
							display: block;
						}

                    }
                    @media screen and (max-width: 36em) { 
						.topheader .cbp-hrsub-inner > div {
							width: 100%;
							float: none;
							padding: 0 2em;
							margin: 0 auto;
							background: #282828;
						}
					}
				}