<div  *ngIf="!isEdit&&!isCreate" class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
        <i class="fa fa-warning"></i> Delete Alert ?</h4>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
  <div class="modal-body">
    <p>Are you sure you want to delete the branch "{{branch?.BranchName}}" ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeletebranchSubmit(branch?._id)">Delete branch</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">cance</button>
  </div>
</div>

<!-- modal for edit -->
<div  *ngIf="isEdit" class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
        <i class="fa fa-warning"></i> Edit For {{branch?.BranchName}}  ?</h4>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (submit)="updatebranchSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">Name Product</label>
      <input type="text"  [(ngModel)]="branch.BranchName"  id="BranchName_edit" name="BranchName_edit" class="form-control underlined">
    </div>
  </div>
  <div class="modal-footer">
    <button  type="submit" name="updatebranch-submit" class="btn btn-info" data-dismiss="modal">Save for Update</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">cance</button>
  </div>
  </form>
</div>

