<article class="content items-list-page">
  <div class="card items">
    <div class="title-block">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title"> IMAGE DASHBOARD
          </h3>
          <p class="title-description"> List of sample items - e.g. books, movies, events, etc... </p>
        </div>
      </div>
    </div>
    <div style="float: right;">
      <button *ngIf="!isDelete" class="btn btn-secondary" (click)="opencreate(createfolder)">
        <i class="fa fa-plus" aria-hidden="true"> Add new folder</i>
      </button>
      <button *ngIf="isDelete" class="btn btn-secondary" (click)="openedit(editfolder)">
        <i class="fa fa-pencil" aria-hidden="true"> Edit folder</i>
      </button>
      <button *ngIf="isDelete" class="btn btn-secondary" (click)="DeleteFolder(DetailFolder._id)">
        <i class="fa fa-trash-o" aria-hidden="true">Delete folder</i>
      </button>
      <button *ngIf="isDelete" class="btn btn-secondary" (click)="opencreateImage(uploadimage,DetailFolder._id)">
        <i class="fa fa-plus" aria-hidden="true"> Add new image</i>
      </button>
      <button *ngIf="isupload" class="btn btn-secondary" (click)="DeleteImage(DetailImage._id)">
        <i class="fa fa-trash-o" aria-hidden="true">Delete image</i>
      </button>
      <button *ngIf="isDelete" class="btn btn-secondary" (click)="cancel()">
        <i class="fa fa-trash-o" aria-hidden="true">Cancel</i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <div class="folder-block" >
            <div class="folderscoll">
            <div class="foldercontent"*ngFor="let folder of Folderposts">
          <button (click)="getImageList(folder._id)"></button>
          <div class="namefolder">
            <span>{{folder.FolderName}}</span>
          </div>
        </div>
          </div>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="image-block">
        <div class="imagescoll">
          <div class="imagecontent" *ngFor="let image of Imageposts">
              <div class="imageaction">
                  <button class="btn" (click)="DeleteImage(image._id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </div>
            <img *ngIf="image.ImageLocal?.data==null" src='https://drive.google.com/uc?id={{image.IdUrl}}' alt="" />
            <img *ngIf="image.ImageLocal?.data" width="16" height="16" src="data:image/png;base64,{{image.ImageLocal?.data|decode64}}"/>
            <p>
              {{image.ImageName}}
            </p>
          </div>
          <div *ngIf="progress" style="margin-left:50%">
            <svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
              <g>
                <rect class="bar" transform="translate(0,0)" y="15"></rect>
                <rect class="bar" transform="translate(25,0)" y="15"></rect>
                <rect class="bar" transform="translate(50,0)" y="15"></rect>
                <rect class="bar" transform="translate(75,0)" y="15"></rect>
                <rect class="bar" transform="translate(100,0)" y="15"></rect>
              </g>
            </svg>
          </div>
        </div>
      </div>

    </div>
  </div>
</article>
<!-- modal color for create -->
<ng-template #createfolder let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fa fa-warning"></i> Create new Folder ?</h4>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formFolder" (submit)="onCreateFolderSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label">Name Folder</label>
        <input type="text" formControlName="NameFolder" class="form-control underlined">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" id="submitfolder" name="submitfolder" class="btn btn-info" (click)="c('Close click')">Save</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">cancel</button>
    </div>
  </form>
</ng-template>

<!-- modal color for edit -->
<ng-template #editfolder let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fa fa-warning"></i> Edit Folder ?</h4>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (submit)="updateFolderSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label">Name Folder</label>
        <input type="text" [(ngModel)]="DetailFolder.FolderName" id="FolderName_edit" name="FolderName_edit" class="form-control underlined">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" id="editfolder" name="editfolder" class="btn btn-info" (click)="c('Close click')">Save</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">cancel</button>
    </div>
  </form>
</ng-template>

<!-- modal upload image -->
<ng-template #uploadimage let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fa fa-warning"></i> Upload image?</h4>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <form [formGroup]="formImage" (submit)="onCreateImageSubmit(DetailFolder._id)" enctype="multipart/form-data">
      <input type="file" id="uploadPicture" formControlName="uploadPicture" class="hidden-input" accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
        (change)="selectFile($event)" multiple>
      <div class="modal-footer">
        <button type="submit" id="submitImage" name="submitImage" class="btn btn-info" (click)="c('Close click')">Save</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">cancel</button>
      </div>
    </form>
    <ul class="item-list striped">
        <li class="item" *ngFor="let image of lstImage">
          <div class="item-row">
            <div class="item-col item-col-title">
              <label>
                <span>Name Image:{{image.name}}</span>
                <h6>Type:{{image.type}}</h6>
                <h6>Size: {{image.size}} Byte</h6>
              </label>
            </div>
            <li style="float:left">
                <button type="button" class="btn btn-secondary" (click)="removeUploadImage(image)">
                  <i class="fa fa-trash-o "></i>
                </button>
              </li>
          </div>
        </li>
      </ul>
  </div>
</ng-template>