<article class="content items-list-page">
    <div class="row">
  <div class="col-sm-8">
    <div class="card items">
      <div class="header-block header-block-search">
        <form role="search">
          <div class="input-container">
            <i class="fa fa-search"></i>
            <input type="search" placeholder="Search">
            <div class="underline"></div>
          </div>
        </form>
      </div>
    </div>
    <div class="card items">
      <div class="title-block">
        <div class="row">
          <div class="col-md-6">
            <h3 class="title"> MENU ACTIVE DASHBOARD
            </h3>
            <p class="title-description"> List of sample items - e.g. books, movies, events, etc... </p>
          </div>
        </div>
      </div>
      <ul class="item-list striped">
        <li class="item item-list-header">
          <div class="item-row">
            <div class="item-col fixed item-col-check">
              <label class="item-check" id="select-all-items">
                <input type="checkbox" class="checkbox">
                <span></span>
              </label>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Delete ALL</a>
                  <a class="dropdown-item" href="#">Move InActive</a>
                  <a class="dropdown-item" href="#">None</a>
                </div>
              </div>
            </div>
            <div class="item-col item-col-title">
            </div>
            <div class="item-col bnt-group-right">
            </div>
          </div>
        </li>
        <li class="item" *ngFor="let menu of menupost">
          <div class="item-row">
            <div class="item-col fixed item-col-check">
              <label class="item-check" id="select-all-items">
                <input type="checkbox" class="checkbox">
                <span></span>
              </label>
            </div>
            <div class="item-col item-col-title">
              <label>
                <span>Name Menu:{{menu.MenuName}}</span>
                <h6>Quatity Branch:{{menu.QtyBranch}}</h6>
              </label>
            </div>
            <div class="item-col bnt-group-right">
              <li>
                <a class="remove" (click)="openedit(menu)">
                  <i class="fa fa-trash-o "></i>
                </a>
              </li>
              <li>
                <a class="move" (click)="GetListbranch(menu._id)">
                  <i class="fa fa-arrows"></i>
                </a>   
              </li>
              <li>
                <a class="edit" (click)="openedit(menu,true)">
                  <i class="fa fa-pencil"></i>
                </a>
              </li>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="card tasks sameheight-item" data-exclude="xs,sm">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title"> ALL Menu </h3>
          </div>
          <div class="header-block pull-right">
            <a (click)="opencreate(createmenu)" class="btn btn-primary btn-sm rounded pull-right"> Add new </a>
            <a href="" class="btn btn-info btn-sm rounded pull-right"> Move </a>
          </div>
        </div>
        <div class="card-block">
          <div class="tasks-block">
            <ul class="item-list" *ngFor="let branch of branchpost">
              <li class="item">
                <div class="item-row">
                  <div class="item-col item-col-title">
                    <label>
                      <input class="checkbox" type="checkbox" checked="checked">
                      <span>{{branch.BranchName}}</span>
                    </label>
                  </div>
                  <div class="item-col fixed item-col-actions-dropdown">
                    <div class="item-actions-dropdown">
                      <a class="item-actions-toggle-btn">
                        <span class="inactive">
                          <i class="fa fa-cog"></i>
                        </span>
                        <span class="active">
                          <i class="fa fa-chevron-circle-right"></i>
                        </span>
                      </a>
                      <div class="item-actions-block">
                        <ul class="item-actions-list">
                          <li>
                            <a class="remove"  (click)="openedit(menu)">
                              <i class="fa fa-trash-o"></i>
                            </a>
                          </li>
                          <li>
                            <a class="edit" (click)="openedit(menu,true)">
                              <i class="fa fa-pencil"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
</article>

     <!-- modal for create -->
     <ng-template #createmenu let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">
              <i class="fa fa-warning"></i> Create new menu ?</h4>
          <button type="button" class="btn btn-secondary" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <form [formGroup]="formMenu" (submit)="onCreateMenuSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Name Product</label>
            <input type="text"  id="menuname" name="menuname" formControlName="menuname" class="form-control underlined">
          </div>
        </div>
        <div class="modal-footer">
          <button  type="submit" name="submit" class="btn btn-info" (click)="c('Close click')">Save for Create</button>
          <button type="button" class="btn btn-secondary"(click)="c('Close click')">cance</button>
        </div>
        </form>
    </ng-template>

